<div class="table-row tr-stripe col-lg-12 col-md-12 col-sm-12 col-12  d-flex flex-wrap">
  <div class=" col-lg-3 col-md-3 col-sm-12 col-12">
    <span class="pr-3 d-md-none d-lg-none d-xl-none"> الاسم:</span> Khaled alkathiri
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <span class="pr-3 d-md-none d-lg-none d-xl-none"> Phone Number:</span> Phone Number
  </div>
  <div class="title col-lg-4 col-md-4 col-sm-12 col-12">
    <span class="pr-3 d-md-none d-lg-none d-xl-none"> Email:</span> Email
  </div>
  <div class="col-lg-1 col-md-1 col-sm-12 col-12">
    <span class="d-md-none d-lg-none d-xl-none"> Status:</span> Status
  </div>
  <div class="text-center col-lg-1 col-md-1 col-sm-12 col-12">
    <button *ngIf="!showInfo" type="button" (click)="onShowInfo()" class="btn btn-outline-dark btn-arrow-sm "><i class="fas fa-chevron-down"></i></button>
    <button *ngIf="showInfo" type="button" (click)="onShowInfo()" class="btn btn-outline-dark btn-arrow-sm "><i class="fas fa-chevron-up"></i></button>
  </div>
</div>

<div *ngIf="!showInfo" class="table-body col-lg-12 col-md-12 col-sm-12 col-12  d-flex flex-wrap ">
  <div class="body-col pr-3 col-lg-5 col-md-5 col-sm-12 col-12 ">
    <div class="underline h-120 ">
      <p class="grey-color mb-0">About me:</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
        layout The point of using Lorem Ipsum</p>
    </div>
    <div class="underline h-120">
      <p class="grey-color mb-0">Age:</p>
      <p>19</p>
    </div>
    <div class="underline h-120">
      <p class="grey-color mb-0">City:</p>
      <p>Saudi Arabia, Riyadh</p>
    </div>
    <div class="star-rating mt-4 underline h-120">
      <p class="grey-color mb-0">Rating:</p>
      <span class="fas fa-star checked"></span>
      <span class="fas fa-star checked"></span>
      <span class="fas fa-star checked"></span>
      <span class="fas fa-star checked"></span>
      <span class="fas fa-star"></span>
      <span class="rating-value grey-color">(7.5/10)</span>
    </div>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-12 col-12"></div>

  <div class="body-col col-lg-4 col-md-5 col-sm-12 col-12  ">
    <app-application-cv></app-application-cv>
  </div>

</div>