<div class="main_container mb-5">
	<div class="container-fluid">
    <div class="row main-content">
      <div class="col-lg-6 col-sm-6">
        <div class="text-center border_right">
          <img class="img_responsive" src="assets/signuporg.png" alt=""/>
          <p class="signup_ques_small_1 text-center mt-4">Join us as an organizer and become part of the most fun job experience</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="signup_content mt-3 text-center">
          <h3>Create Your Account</h3>
          <p class="signup_ques">Already a member? <span><a href="login" style="color: red;">Sign in</a></span></p>
          <h5 class="mb-4">Join us as Organizer</h5>
          <input type="input" class="form-control evento_input mb-4" placeholder="First Name" />
          <input type="input" class="form-control evento_input mb-3" placeholder="Last Name" />
          <p class="signup_ques_small">Have you organized in event before?</p>
          <div class="form-group d-flex justify-content-center mb-4 yesno-items">
            <div class="form position-relative">
              <input type="radio" class="form-check-input" name="yesno" checked>
              <button class="btn signup_select_btn width_100 mr-1 ml-1">Yes</button>
            </div>
            <div class="form position-relative">
              <input type="radio" class="form-check-input" name="yesno">
              <button class="btn signup_select_btn width_100 mr-1 ml-1">No</button>
            </div> 
          </div>
          <div class="form-group mb-4 position-relative">
            <select class="form-control evento_input evento_select" name="sellist">
              <option disabled selected hidden>City</option>
              <option>NewYork</option>
              <option>Driving</option>
              <option>Dating</option>
              <option>Sleeping</option>
            </select>
            <i class="fas fa-chevron-down embed"></i>       
          </div>
          <div class="form-group d-flex mb-4 gender-items">
            <label class="form-label mr-2 mb-0 align-items-center">Gender</label>
            <div class="form position-relative">
              <input type="radio" class="form-check-input" name="gender" checked>
              <button class="btn signup_select_btn width_100 mr-1 ml-1">Male</button>
            </div>
            <div class="form position-relative">
              <input type="radio" class="form-check-input" name="gender">
              <button class="btn signup_select_btn width_100 mr-1 ml-1">Female</button>
            </div>        
          </div>
          <input type="input" class="form-control evento_input mb-4" placeholder="Email Address" />
          <input type="input" class="form-control evento_input mb-4" placeholder="Phone Number" />
          <input type="password" class="form-control evento_input mb-4" placeholder="Password" />
          <input type="password" class="form-control evento_input mb-4" placeholder="Confirm password" />
          <div class="form-group mb-4">
            <label class="form-check-label text_left position-relative">
              <input type="checkbox" class="form-check-input" value="" />I agree Evento<br> terms of use and privacy policy
            </label>          
          </div>
          <img src="assets/captcha.png" class="captcha_img mb-4" alt="" />

          <input type="button" class="btn width_120 signup_btn mt-3 mr-2 ml-2" value="Back" />
          <input type="button" class="btn btn-danger width_120 mt-3 mr-2 ml-2" value="Join" />
        </div>
      </div>
    </div>
  </div>
</div>
