<div class="main_container">
	<div class="container-fluid whoarewe-container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-sm-12 text-center justify-content-center">
				<img class="img-fluid" src="assets/410x276-Who-are-we-Icon-png.png" alt=""/>
				<h1 translate>WHO ARE WE?</h1>
				<p translate>ABOUT US CONTENT
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid vision-container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-sm-12 text-center justify-content-center">
				<img class="img-fluid" src="assets/253x179-Our-vision-Icon-png.png" alt=""/>
				<h1 translate>OUR VISION</h1>
				<p translate>OUR VISION CONTENT
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid service-container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-sm-12 text-center justify-content-center">
				<h1 translate>OUR SERVICES</h1>
				<div class="row justify-content-center">
					<div class="col-lg-4 col-sm-4 col-6 text-center justify-content-center">
						<div class="img-round-div d-flex align-items-center justify-content-center">
							<img class="img-fluid" src="assets/65x65-Dashborad-Icon-png.png" alt=""/>
						</div>
						<p translate>We provide you with an event management system</p>
					</div>
					<div class="col-lg-4 col-sm-4 col-6 text-center justify-content-center">
						<div class="img-round-div d-flex align-items-center justify-content-center">
							<img class="img-fluid" src="assets/74x65-Tickets-Icon-png.png" alt=""/>
						</div>
						<p translate>We organize the ticketing process and sell it electronically</p>
					</div>
					<div class="col-lg-4 col-sm-4 col-6 text-center justify-content-center">
						<div class="img-round-div d-flex align-items-center justify-content-center">
							<img class="img-fluid" src="assets/65x65-Statistics-Icon-png.png" alt=""/>
						</div>
						<p translate>We provide you with instant and detailed reports and statistics before and after the event</p>
					</div>
					<div class="col-lg-4 col-sm-4 col-6 text-center justify-content-center">
						<div class="img-round-div d-flex align-items-center justify-content-center">
							<img class="img-fluid" src="assets/79x70-rating-Icon-png.png" alt=""/>
						</div>
						<p translate>We allow you to use the volunteer management system and evaluate them electronically</p>
					</div>
					<div class="col-lg-4 col-sm-4 col-6 text-center justify-content-center">
						<div class="img-round-div d-flex align-items-center justify-content-center">
							<img class="img-fluid" src="assets/78x65-Website-app-Icon-png.png" alt=""/>
						</div>
						<p translate>We show your effectiveness on our website and our application available on smart devices</p>
					</div>
					<div class="col-lg-4 col-sm-4 col-6 text-center justify-content-center">
						<div class="img-round-div d-flex align-items-center justify-content-center">
							<img class="img-fluid" src="assets/81x66-Orgenizers-Icon-png.png" alt=""/>
						</div>
						<p translate>We give an opportunity to people who are interested in working as organizers in one or more of the events in our platforms with extreme ease</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid contact-container"> 
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-sm-12 text-center justify-content-center">
				<div class="row justify-content-center">
					<div class="col-lg-12 col-sm-12 col-12">
						<h1 translate>Contact US</h1>
					</div>				
		        	<div class="col-lg-4 col-sm-4 col-12">
		        		<i class="fas fa-phone text-danger"></i>
		        		<p>+966-55-487-2358</p>
		        	</div>
		        	<div class="col-lg-4 col-sm-4 col-12">
		        		<i class="fas fa-envelope text-danger"></i>
		        		<p>info@evento.sa</p>
		        	</div>
		        	<div class="col-lg-4 col-sm-4 col-12">
		        		<i class="fas fa-map-marker-alt text-danger"></i>
		        		<p translate>Riyadh. Saudi Arabia</p>
		        		<p translate>Alyasmin, Anas Ibn Malik Rd</p>
		        	</div>
		        	<div class="col-lg-12 col-sm-12 col-12">
		        		<button type="button" class="btn btn-outline-dark pd-40" (click)="send()" translate>SEND MESSAGE</button>
		        	</div>
		        </div>
			</div>
		</div>
	</div>
	<!--<div class="container-fluid partner-container">  -->
		<!--<h1 class="text-center">PARTNERS</h1>-->
		<!--<div class="row d-flex justify-content-center position-relative">-->
		  <!--<div class="slider-overlay-left"></div>-->
		  <!--<div class="col-lg-10 col-sm-10 col-10 d-flex justify-content-center">-->
		    <!--<div class="col-sm-1 slider-arrow">-->
		      <!--<div class="form-group align-items-center d-flex justify-content-center">-->
		        <!--<button type="button" (click)="onPartnerPreClick($event)" class="btn btn-outline-dark btn-slider position-relative">           -->
		          <!--<i class="fas fa-chevron-left"></i>-->
		        <!--</button>      -->
		      <!--</div>-->
		    <!--</div>-->
		    <!--<div class="col-sm-12 col-12 d-flex align-items-center partner-items">-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo8.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo7.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo6.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo5.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo4.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo3.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo2.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo1.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo8.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo7.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo6.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo5.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo4.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo3.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo2.png" alt=""/>-->
		      <!--</div>-->
		      <!--<div class="col-sm-12 col-12 col-lg-1 d-flex align-items-center">-->
		        <!--<img class="img-fluid" src="assets/Logo1.png" alt=""/>-->
		      <!--</div>-->
		    <!--</div>-->
		    <!--<div class="col-sm-1 slider-arrow">-->
		      <!--<div class="form-group align-items-center d-flex justify-content-center">-->
		        <!--<button type="button" (click)="onPartnerNextClick($event)" class="btn btn-outline-dark btn-slider position-relative">           -->
		          <!--<i class="fas fa-chevron-right"></i>-->
		        <!--</button>      -->
		      <!--</div>-->
		    <!--</div>-->
		  <!--</div>-->
		  <!--<div class="slider-overlay-right"></div>  -->
		<!--</div>-->
	<!--</div>-->
	<div class="container-fluid join-container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-sm-12 text-center justify-content-center">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-sm-4 col-12 text-center justify-content-center">
						<img class="img-fluid" src="assets/313x249-Member-illustration-png.png" alt=""/>
						<p translate>Join us as a member and enjoy the latest
							events</p>
					</div>
					<div class="col-lg-4 col-sm-4 col-12 text-center justify-content-center">
						<img class="img-fluid" src="assets/349x249-Organizers-illustration-png.png" alt=""/>
						<p translate>Join us as an organizer and become part of the most fun job experience</p>
					</div>
					<div class="col-lg-4 col-sm-4 col-12 text-center justify-content-center">
						<img class="img-fluid" src="assets/289x259-Organization Company-illustration-png.png" alt=""/>
						<p translate>Are you an events organizing company?<br>Just
							join us and let us make yourjob easier</p>
					</div>
					<div class="col-lg-4 col-sm-4 col-12 text-center justify-content-center">
						<button type="button" class="btn btn-outline-dark pd-100" (click)="join()" translate>Join</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
