/*** RTL websites ***/
$direction           :rtl;
$opposite-direction   :ltr;

$start-direction     :right;
$end-direction       :left;

$transform-direction :-1;

.fas.fa-chevron-down.embed {
	left: 20px;	
}
.border-left-right {
	border-right: 1px solid #9e9e9e;
}