@media (max-width: 768px) {
  .container_footer {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 768px) {
  .container_footer {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 992px) {
  .container_footer {
    margin-left: 10px;
    margin-right: 10px;
  }
  .container_footer {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .container_footer {
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media (min-width: 1700px) {
  .container_footer {
    margin-left: 440px;
    margin-right: 440px;
  }
}
 
.footer {
  background-color: #0a1723;
  color: white;
}
.footer_content {
  background-color: #0b1c2b;
}
.text_label {
  text-transform: uppercase;
  margin: 10px 0;
}
.footer_top {
  padding: 33px 0;
}
.social_icons {
  width: 200px;
}
.social_icons i {
  margin: 0 10px;
}