<div class="main_container mb-5 pt-5">
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-lg-6 col-sm-6">

        <div class="text-center ">
          <img class="img_responsive" src="assets/signupmember.png" alt="" />
        </div>
      </div>


      <div class="border-left-right col-lg-6 col-sm-6 mt-5">
        <div class="signup_content mt-3 text-center">


          <ng-container *ngIf="forgetResponse">
            <div *ngIf="!isActivated" class="text-center ">
              <h4 class="mt-3" style="color: inherit;" translate>Your password has been reset successfully, We will send
                you an email to set a new password</h4>
              <p class="signup_ques_small_1 text-center mt-4" translate>If you did not receive this email, please check
                your junk/spam folder</p>



              <button (click)="contactUs()" type="button" class="btn btn-success md-15" translate> Contact Us <i
                  class="fas fa-chevron-left"></i></button>
            </div>

          </ng-container>

          <ng-container *ngIf="!forgetResponse">
            <h2 class="text-center" translate>Do you forget your password ?</h2>
            <app-errors [errors]="errorForget" *ngIf="errorForget"></app-errors>

            <form [formGroup]="forgetForm" (ngSubmit)="onReset(forgetForm)">
              <div class="form-group">
                <input formControlName="username" type="input" class="form-control evento_input  mt-3"
                  placeholder="{{ 'Your Email' | translate}}" />

                <div class="error"
                  *ngIf="forgetForm.controls['username'].hasError('required') && !forgetForm.controls['username'].pristine"
                  translate>This field is required
                </div>
                <div class="error"
                  *ngIf="forgetForm.controls['username'].hasError('email') && !forgetForm.controls['username'].pristine"
                  translate>
                  Email format is not valid
                </div>
              </div>

              <re-captcha #captchaRef formControlName="recaptcha"></re-captcha>

              <input type="submit" class="btn btn-danger width_120 mt-3 mb-2 mr-2 ml-2"
                value="{{ 'Reset' | translate }}" [disabled]="!forgetForm.valid" />
            </form>
          </ng-container>




        </div>
      </div>

    </div>
  </div>
</div>