<div class=" application-container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left">
      <h5 class="grey-color mr-3 ml-3">Home/Organizers/Applications</h5>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap">

          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <h4>Applications</h4>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-1 mb-3">
            <button type="button" class="btn btn-info btn-sm pl-4 pr-4 mr-3 ml-3 mb-3"><i class="fas fa-check"></i> Accept All Applications</button>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap">
            
          <div class="col-lg-1 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-1 mb-3">
            <p><i class="fas fa-sliders-h "></i>Filter</p>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-2 pr-2   mb-3">
            <input type="text" class="form-control evento_input" placeholder="Search By Name Or E-Mail">
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-2 pr-2 ">
            <div class="form-group position-relative">
              <select class="form-control evento_input evento_select" name="">
                              <option selected>All</option>
                              <option>Accepted</option>
                              <option>Rejected</option>
                            </select>
              <i class="fas fa-chevron-down embed"></i>
            </div>
          </div>

          <div class="col-lg-2 col-md-12 col-sm-12 col-12 pl-2 pr-2 ">
            <button type="button" class="btn btn-danger pl-4 pr-4 mb-3">Search</button>
          </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="overflow-x: auto;">
          <table class="table">
            <thead>
              <tr>
                <th width="2%">
                  <div class="form-check">
                    <label class="form-check-label">
                          <input type="checkbox" class="span-left mt-1" value="" checked>
                        </label>
                  </div>
                </th>
                <th width="20%">Name</th>
                <th width="20%">Phone Number</th>
                <th width="20%">E-Mail</th>
                <th width="30%">Status</th>
              </tr>
            </thead>

            <tbody class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
              <tr  class="tr-stripe">
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                          <input type="checkbox" class="span-left mt-1" value="" checked>
                        </label>
                  </div>
                </td>
                <td>Ahmed AlHuwaymani</td>
                <td>05679729847</td>
                <td>Sample@Gmail.com</td>
                <td>
                  <span class="text-success">Accepted</span>
                  <button type="button" class="btn btn-outline-dark btn-arrow-sm ml-5 mr-5"><i class="fas fa-chevron-up"></i></button>
                </td>
              </tr>
            </tbody>

            <tbody id="group-of-rows-1" class="collapse">
              <tr   >
                <td></td>
                <td colspan=2>
                  <div class="underline h-120 ml-3 mr-3">
                    <p class="grey-color mb-0">About me:</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                      looking at its layout The point of using Lorem Ipsum</p>
                  </div>
                  <div class="star-rating mt-4 underline h-120 ml-3 mr-3">
                    <p>Rating:</p>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star"></span>
                    <span class="rating-value grey-color">(7.5/10)</span>
                  </div>
                  <div class="mt-4 ml-3 mr-3">
                    <p class="grey-color">Education:</p>
                    <p><span class="grey-color">2003 - 2012</span>&nbsp;&nbsp;&nbsp;Al Thaghar School. Jeddah</p>
                    <p><span class="grey-color">2003 - 2012</span>&nbsp;&nbsp;&nbsp;Al Thaghar School. Jeddah</p>
                    <p><span class="grey-color">2003 - 2012</span>&nbsp;&nbsp;&nbsp;Al Thaghar School. Jeddah</p>
                  </div>
                </td>
                <td colspan=1>
                  <div class="underline h-120 ml-3 mr-3">
                    <p class="grey-color mb-0">City:</p>
                    <p>Saudi Arabia, Riyadh</p>
                  </div>
                  <div class="mt-4 ml-3 mr-3">
                    <p>Organizing Experience:</p>
                  </div>
                  <div class="ticket active mb-3 p-3">
                    <p class="mb-1 ticket-more-detail">Event Name</p>
                    <p class="event-name grey-color">Twelve Unicorns Design Expo</p>
                    <p class="mb-1 ticket-more-detail">Organization Company</p>
                    <p class="grey-color ticket-more-detail">Twelve Unicorns</p>
                    <p class="mb-1 ticket-more-detail">Position</p>
                    <p class="grey-color">staff</p>
                    <p class="mb-1 ticket-more-detail">Details</p>
                    <p class="grey-color ticket-more-detail">Lorem Ipsum is simply dummy text of the printing and type setting</p>
                    <div class="col-lg-12 col-sm-12 col-12 text-center justify-content-center">
                      <button class="btn btn-outline-dark btn-sm text-center show-more">Show less <i class="fas fa-chevron-down"></i></button>
                    </div>
                  </div>
                  <div class="ticket mb-3 p-3">
                    <p class="mb-1 ticket-more-detail">Event Name</p>
                    <p class="event-name">Twelve Unicorns Design Expo</p>
                    <p class="mb-1 ticket-more-detail">Organization Company</p>
                    <p class="grey-color ticket-more-detail">Twelve Unicorns</p>
                    <p class="mb-1 ticket-more-detail">Position</p>
                    <p class="grey-color">staff</p>
                    <p class="mb-1 ticket-more-detail">Details</p>
                    <p class="grey-color ticket-more-detail">Lorem Ipsum is simply dummy text of the printing and type setting</p>
                    <div class="col-lg-12 col-sm-12 col-12 text-center justify-content-center">
                      <button class="btn btn-outline-dark btn-sm text-center show-more">Show more <i class="fas fa-chevron-down"></i></button>
                    </div>
                  </div>
                  <div class="ticket mb-3 p-3">
                    <p class="mb-1 ticket-more-detail">Event Name</p>
                    <p class="event-name">Twelve Unicorns Design Expo</p>
                    <p class="mb-1 ticket-more-detail">Organization Company</p>
                    <p class="grey-color ticket-more-detail">Twelve Unicorns</p>
                    <p class="mb-1 ticket-more-detail">Position</p>
                    <p class="grey-color">staff</p>
                    <p class="mb-1 ticket-more-detail">Details</p>
                    <p class="grey-color ticket-more-detail">Lorem Ipsum is simply dummy text of the printing and type setting</p>
                    <div class="col-lg-12 col-sm-12 col-12 text-center justify-content-center">
                      <button class="btn btn-outline-dark btn-sm text-center show-more">Show more <i class="fas fa-chevron-down"></i></button>
                    </div>
                  </div>
                </td>
                <td colspan=1>
                  <div class="underline h-120">
                    <p class="grey-color mb-0">Age:</p>
                    <p>19</p>
                  </div>
                  <div class="mt-4">
                    <p class="grey-color">Skills:</p>
                    <p>-Communication</p>
                    <p>-Ability to Work Under Pressure</p>
                  </div>
                </td>
              </tr>
            </tbody>

              

              <!-- <tr class="tr-stripe">
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                          <input type="checkbox" class="span-left mt-1" value="" checked>
                        </label>
                  </div>
                </td>
                <td>Haneen AlMamouri</td>
                <td>05679724342</td>
                <td></td>
                <td>
                  <span class="text-danger">Inactive</span>
                  <button type="button" class="btn btn-outline-dark btn-arrow-sm ml-5 mr-5"><i class="fas fa-chevron-up"></i></button>
                </td>
              </tr>
            </tbody> -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>