<div *ngIf="!onPreAcceptScreen" class=" application-container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap">

          <div class="pr-3 col-lg-6 col-md-12 col-sm-12 col-12">
            <h4>Applications</h4>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-1 mb-3">
            <button type="button" class="btn btn-info btn-sm pl-4 pr-4 mr-3 ml-3 mb-3"><i class="fas fa-check"></i> Accept All Applications</button>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap ">
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-2 pr-2   mb-3">
            <input type="text" class="form-control evento_input" placeholder="Search By Name Or E-Mail">
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12 col-12 pl-2 pr-2 ">
            <div class="form-group position-relative">
              <select class="form-control evento_input evento_select" name="">
                              <option selected>All</option>
                              <option>Accepted</option>
                              <option>Rejected</option>
                            </select>
              <i class="fas fa-chevron-down embed"></i>
            </div>
          </div>

          <div class="col-lg-2 col-md-12 col-sm-12 col-12 pl-2 pr-2 ">
            <button type="button" class="btn btn-danger pl-4 pr-4 mb-3">Search</button>
          </div>
        </div>

        <div class=" table-header col-lg-12 col-md-12 col-sm-12 col-12 mt-3  d-none d-sm-flex">
          <div class="pr-3 title col-lg-3 col-md-3 col-sm-12 col-12">
            Name
          </div>
          <div class="title col-lg-3 col-md-3 col-sm-12 col-12">
            Phone Number
          </div>
          <div class="title col-lg-4 col-md-4 col-sm-12 col-12">
            Email
          </div>
          <div class="title col-lg-2 col-md-2 col-sm-12 col-12">
            Status
          </div>
        </div>

        <ng-container *ngIf="requestList">
          <ng-container *ngFor="let request of requestList.data">
            <app-application-row (onPreAcceptRequest)="onPreAcceptRequest($event)" [request]="request" [eventkey]="event_key"></app-application-row>
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="onPreAcceptScreen">

  <div class="pr-3 pt-4 col-lg-12 col-md-12 col-sm-12 col-12">
    <h4>Applications</h4>
  </div>

  <form class="content" id="event-details" class="tab-event-content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12   pl-5 pr-5">

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
          <p class="event-edit"><b translate>Event Starts Date</b></p>
          <div class="form-group w-100 d-block">
            <div class="event-edit form-group position-relative grey-color">
              <my-date-picker [options]="myDatePickerOptions" class="data-evento"></my-date-picker>

            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
          <div class="form-group w-100 d-flex">
            <div class="w-50">
              <p class="event-edit"><b translate>Event Starts Time</b></p>
              <input type="text" class="event-edit form-control evento_input w-50" placeholder="00:00" style="width: 100% !important">
            </div>
            <div class="event-edit form position-relative w-25 pl-1 pr-1">
              <p class="event-edit"> &nbsp;</p>
              <input type="radio" class="" value="am">
              <button class="btn btn-outline-dark mr-1 ml-1" style="width: 100% !important;" translate>Am
                                      </button>
            </div>
            <div class="event-edit form position-relative w-25 pr-1">
              <p class="event-edit"> &nbsp;</p>
              <input type="radio" class="" value="pm">
              <button class="btn btn-outline-dark mr-1 " style="width: 100% !important;" translate>Pm
                                      </button>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
          <p class="event-edit"><b translate>Event Ends Date</b></p>
          <div class="form-group w-100 d-block">
            <div class="event-edit form-group position-relative grey-color">
              <my-date-picker [options]="myDatePickerOptions" class="data-evento"></my-date-picker>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
          <div class="form-group w-100 d-flex">
            <div class="w-50">
              <p class="event-edit"><b translate>Event Ends Time</b></p>
              <input type="text" class="event-edit form-control evento_input  w-50" style="width: 100% !important">



            </div>
            <div class="event-edit form position-relative w-25 pl-1 pr-1">
              <p class="event-edit"> &nbsp;</p>
              <input type="radio" class="form-check-input" value="am">
              <button class="btn btn-outline-dark mr-1 ml-1" style="width: 100% !important;" translate>Am
                                      </button>

            </div>
            <div class="event-edit form position-relative w-25 pr-1">
              <p class="event-edit"> &nbsp;</p>
              <input type="radio" class="form-check-input" value="pm">
              <button class="btn btn-outline-dark mr-1 ml-1" style="width: 100% !important;" translate>Pm
                                      </button>

            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5 d-flex" style="display: grid !important;">
          <p class="event-edit"><b translate>Event Location on Map</b></p>
          <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="placeMarker($event)" [zoom]="14">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>

      </div>
    </div>

  </form>

</ng-container>