<div class="main_container mb-5">
  <div class="container-fluid">
    <div class="row main-content">
      <div class="col-lg-6 col-sm-6">
        <div class="text-center border-left-right"><img class="img_responsive" src="assets/signupmember.png" alt="" /></div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="signup_content mt-3 text-center">
          <h3>Let's Get Started</h3>
          <p class="signup_ques">Already a member? <span><a href="login" style="color: red;">Sign in</a></span></p>
          <div class="row">
            <input type="button" class="btn signup_select_btn mb-4 width_220 text-left" value="member" />
          </div>
          <div class="row">
            <input type="button" class="btn signup_select_btn mb-4 width_220 text-left" value="Organizer" />
          </div>
          <div class="row">
            <input type="button" class="btn signup_select_btn mb-4 width_220 text-left" value="Organization Company" />
          </div>
          <div class="row">
            <div class="form-group d-flex mb-4 gender-items">
              <label class="form-label mr-2 mb-0 align-items-center">Gender</label>
              <div class="form position-relative">
                <input type="radio" class="form-check-input" name="gender" checked>
                <button class="btn signup_select_btn width_100 mr-1 ml-1">Male</button>
              </div>
              <div class="form position-relative">
                <input type="radio" class="form-check-input" name="gender">
                <button class="btn signup_select_btn width_100 mr-1 ml-1">Female</button>
              </div>
            </div>
          </div>


          <a href="signup/member"><input type="button" class="btn signup_btn mt-3 width_120" value="Next" /></a>
        </div>
      </div>
    </div>
  </div>
</div>


<app-register-company></app-register-company>