<div class="main_container mb-5">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-6 col-sm-6">
        <div class="text-center border_right">
          <img class="img_responsive" src="assets/VectorSmartObject_0.png" alt="" />
          <p class="signup_ques_small_1 text-center mt-4">Are you an events organizing company?<br>Just join us and let us make yourjob easier</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="signup_content mt-3 text-center">
          <h3>Create Your Account</h3>
          <p class="signup_ques">Already a member? <span><a href="login" style="color: red;">Sign in</a></span></p>
          <h5 class="mb-4">Join us as Organizer</h5>

          <form [formGroup]="signupForm">

            <input formControlName="first_name" type="input" class="form-control evento_input mb-4" placeholder="First Name" />
            <input formControlName="last_name" type="input" class="form-control evento_input mb-3" placeholder="Last Name" />
            <input formControlName="company_name" type="input" class="form-control evento_input mb-3" placeholder="Company Name" />
            <input formControlName="address" type="input" class="form-control evento_input mb-3" placeholder="Company Address" />

            <div class="form-group mb-4 position-relative">
              <select class="form-control evento_input evento_select" name="sellist">
              <option disabled selected hidden>City</option>
              <option>NewYork</option>
              <option>Driving</option>
              <option>Dating</option>
              <option>Sleeping</option>
            </select>
              <i class="fas fa-chevron-down embed"></i>
            </div>

            <div class="form-group d-flex mb-4 gender-items">
              <label class="form-label mr-2 mb-0 align-items-center">Gender</label>
              <div class="form position-relative">
                <input type="radio" class="form-check-input" name="gender" checked>
                <button class="btn signup_select_btn width_100 mr-1 ml-1">Male</button>
              </div>
              <div class="form position-relative">
                <input type="radio" class="form-check-input" name="gender">
                <button class="btn signup_select_btn width_100 mr-1 ml-1">Female</button>
              </div>
            </div>

            <input formControlName="email" type="input" class="form-control evento_input mb-4" placeholder="Email Address" />
            <input formControlName="mobile" type="input" class="form-control evento_input mb-4" placeholder="Phone Number" />
            <input formControlName="password" type="password" class="form-control evento_input mb-4" placeholder="Password" />
            <input formControlName="confirm_password" type="password" class="form-control evento_input mb-4" placeholder="Confirm password" />

            <div class="form-group mb-4">
              <label class="form-check-label text_left position-relative">
              <input type="checkbox" class="form-check-input" value="" />I agree Evento<br> terms of use and privacy policy
            </label>
            </div>
            <img src="assets/captcha.png" class="captcha_img mb-4" alt="" />

            <input (click)="onCancelButton()" type="button" class="btn width_120 signup_btn mt-3 mr-2 ml-2" value="Back" />
            <input (click)="onRegisterButton(signupForm)" type="button" class="btn btn-danger width_120 mt-3 mr-2 ml-2" value="Join"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>