<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
    <div class="col-lg-10 col-md-12 col-sm-12 col-12 mt-2">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs justify-content-start underline" role="tablist">
            <li class="nav-item">
                <a class="nav-link  bg-dark position-relative pt-1 pb-1"
                   data-toggle="tab"
                   [routerLink]="['/organizer/event/' + event_key + '/details']"
                   translate>Event Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-dark position-relative pt-1 pb-1"
                   data-toggle="tab"
                   [routerLink]="['/organizer/event/' + event_key + '/setting']"
                   translate>Event Setting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active bg-danger position-relative pt-1 pb-1" data-toggle="tab"
                   [routerLink]="['/organizer/event/' + event_key + '/terms']"
                   translate>Event Terms And Conditions</a>
            </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-event-content">
            <div class="content pl-4 pr-4" id="event-details">

                <div class="row ml-0 mr-0 mt-5">
                    <h4 class="add-condition" translate>Add Event Terms And Conditions</h4>
                </div>

                <ng-container *ngIf="terms && !showCreateForm && !showUpdateForm && !showDeleteForm">
                    <ng-container *ngIf="terms.data.length === 0">


                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
                            <div class="alert alert-warning pl-3 pr-3" role="alert" translate>
                                You don't have any terms or conditions.
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
                            <div class="mt-5 d-flex justify-content-start">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                    <hr>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <div class="form-group w-100 d-flex justify-content-center">
                                        <button type="button" class="btn btn-dark btn-add-sm" (click)="showCreate();"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </ng-container>




                    <ng-container *ngIf="terms.data.length > 0">
                        <div class="row ml-0 mr-0 mt-4" *ngFor="let term of terms.data">
                            <div class="bg-box-shadow w-75 span-left p-3">
                                <p>{{ term.policy }}</p>
                                <p class="span-right mb-0 pb-0">
                                    <a (click)="showDelete(term)">
                                        <i class="far fa-trash-alt text-danger pl-3" ></i>
                                    </a>
                                    <a (click)="showUpdate(term)">
                                        <i class="fas fa-pencil-alt grey-color"></i>
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
                            <div class="mt-5 d-flex justify-content-start">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                    <hr>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <div class="form-group w-100 d-flex justify-content-center">
                                        <button type="button" class="btn btn-dark btn-add-sm" (click)="showCreate();"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <app-pagination
                                (goPage)="goToPage($event)"
                                (goNext)="onNext()"
                                (goPrev)="onPrev()"
                                [pagesToShow]="10"
                                [page]="terms.meta.query.page"
                                [perPage]="terms.meta.query.limit"
                                [count]="terms.meta.query.total"></app-pagination>

                    </ng-container>

                </ng-container>

                <ng-container *ngIf="showCreateForm">
                    <form action="" [formGroup]="formCreate" (ngSubmit)="createTerm(formCreate);">
                        <div class="col-lg-12 col-md-12 col-sm-12  d-flex flex-wrap">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-3 pr-3 mt-2">
                                <textarea rows="4" cols="50" class="form-control evento_input"
                                          formControlName="policy"
                                          placeholder=""></textarea>
                                <div class="error"
                                     *ngIf="formCreate.controls['policy'].hasError('required') && !formCreate.controls['policy'].pristine"
                                     translate>
                                    This field is required
                                </div>
                                <div class="error"
                                     *ngIf="formCreate.controls['policy'].hasError('minlength') && !formCreate.controls['policy'].pristine"
                                     translate>
                                    Field should be at least 3 characters
                                </div>
                                <div class="error"
                                     *ngIf="formCreate.controls['policy'].hasError('maxlength') && !formCreate.controls['policy'].pristine"
                                     translate>
                                    Field should be at most 500 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap justify-content-end">
                            <button type="button" class="btn btn-dark pl-4 pr-4 mt-3 ml-2 mr-2" (click)="showCreate();" translate>
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-danger pl-5 pr-5 mt-3 ml-2 mr-2"
                                    [disabled]="formCreate.invalid"
                                    translate>SAVE
                            </button>
                        </div>
                    </form>
                </ng-container>

                <ng-container *ngIf="showUpdateForm">
                    <form action="" [formGroup]="formUpdate" (ngSubmit)="updateTerm(formUpdate);">
                        <div class="col-lg-12 col-md-12 col-sm-12  d-flex flex-wrap">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-3 pr-3 mt-2">
                                <textarea rows="4" cols="50" class="form-control evento_input"
                                          formControlName="policy"
                                          placeholder=""></textarea>
                                <div class="error"
                                     *ngIf="formUpdate.controls['policy'].hasError('required') && !formUpdate.controls['policy'].pristine"
                                     translate>
                                    This field is required
                                </div>
                                <div class="error"
                                     *ngIf="formUpdate.controls['policy'].hasError('minlength') && !formUpdate.controls['policy'].pristine"
                                     translate>
                                    Field should be at least 3 characters
                                </div>
                                <div class="error"
                                     *ngIf="formUpdate.controls['policy'].hasError('maxlength') && !formUpdate.controls['policy'].pristine"
                                     translate>
                                    Field should be at most 500 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap justify-content-end">
                            <button type="button" class="btn btn-dark pl-4 pr-4 mt-3 ml-2 mr-2" (click)="showUpdate();" translate>
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-danger pl-5 pr-5 mt-3 ml-2 mr-2"
                                    [disabled]="formUpdate.invalid"
                                    translate>SAVE
                            </button>
                        </div>
                    </form>
                </ng-container>

                <ng-container *ngIf="showDeleteForm">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-3 pr-3 mt-2">
                            <p class="title" translate>Are you sure to delete :</p>
                            <p class="details"> {{ selectedTerm.policy }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap justify-content-end">
                            <button type="submit" class="btn btn-info pl-5 pr-5 mt-3 ml-2 mr-2" (click)="showDelete();" translate>NO
                            </button>
                            <button type="submit" class="btn btn-danger pl-5 pr-5 mt-3 ml-2 mr-2" (click)="deleteTerm();"
                                    translate>YES
                            </button>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>