

<ng-container *ngIf="searchResult">
    <div class="event-row-search" *ngFor="let event of searchResult.data">
        <div class="custom_tab mt-2">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs small justify-content-end" role="tablist">
            <li class="nav-item">
              <a class="nav-link active bg-danger position-relative" data-toggle="tab">{{ event.type }}</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="education" class="d-flex">
              <div class="tab_img_content">
                <img *ngIf="event.img" [src]="event.img" alt="" />
                <img *ngIf="!event.img" src="assets/dx34459.png" alt="" />
              </div>
              <div class="tab_desc">
                <div class="tab_desc_inner">
                  <h3>{{ event.name }}</h3>
                  <p style="color:#b0b0b0;">{{ event.details | truncate:[100] }}</p>
                  <div class="row">
                    <div class="col-sm-7 col-lg-7">
                      <p class="local_desc"><i class="fa fa-map-marker"></i>{{ event.city }} , {{ event.address }}</p>
                    </div>
                    <div class="col-sm-5 col-lg-5 text-center">
                      <button type="button" class="btn btn-outline-dark btn-bold" (click)="onMoreDetails(event.event_key);" translate>SEE MORE</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab_date">
            <p class="text-center grey-color">{{ event.from_date }} | {{ event.from_time }}</p>
          </div>
        </div>
      </div>
</ng-container>
