<div class="main_container" *ngIf="!selectPackage && !selectPackageSonger && !showNumbers">
  <div class="container-fluid event-container">
    <div class="row justify-content-center mt-5 mb-5">
      <ng-container *ngIf="packages">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-1 mb-1" *ngFor="let p of packages.songers">
          <div class="content pl-4 pr-4" id="event-details">
            <div class="row ml-0 mr-0 mt-4">
              <div class="bg-box-shadow w-100 span-left p-3">
                <img [src]="p.img" alt="" style="max-width: 100%">

                <p class="mt-3">{{ p.songer_name }}</p>
                <p>{{ p.desc }}</p>
                <p class="span-right mb-0 pb-0">
                </p>
                <button type="button" class="btn btn-success" (click)="selectPackageFunc(p)" translate>Choice &nbsp;<i
                    class="fas fa-chevron-left"></i></button>

              </div>
            </div>


          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-1 mb-1" *ngFor="let p of packages.packages">
          <div class="content pl-4 pr-4" id="event-details">
            <div class="row ml-0 mr-0 mt-4">
              <div class="bg-box-shadow w-100 span-left p-3">
                <p>dfgsdfg</p>
                <p class="span-right mb-0 pb-0">
                </p>
              </div>
            </div>

          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>


<div class="main_container" *ngIf="selectPackage && !selectPackageSonger && !showNumbers">
  <div class="container-fluid event-container">
    <div class="row justify-content-center mt-5 mb-5">
      <ng-container *ngIf="selectPackage">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-1 mb-1" *ngFor="let c of selectPackage.catogary">
          <div class="content pl-4 pr-4" id="event-details">
            <div class="row ml-0 mr-0 mt-4">
              <div class="bg-box-shadow w-100 span-left p-3">

                <p class="mt-3">{{ c.catogary_name }}</p>
                <p>{{ c.catogary_desc }}</p>
                <p class="span-right mb-0 pb-0">
                </p>
                <button type="button" class="btn btn-success" (click)="selectPackageSongerFunc(c)" translate>Choice
                  &nbsp;<i class="fas fa-chevron-left"></i></button>

              </div>
            </div>


          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>


<div class="main_container" *ngIf="selectPackageSonger && !showNumbers">
  <div class="container-fluid event-container">
    <div class="row justify-content-center mt-5 mb-5" *ngIf="showSoldOut">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-5">
        <div class="alert alert-warning">
          جميع التذاكر نفذت
        </div>

      </div>

    </div>
    <div class="row justify-content-center mt-5 mb-5">
      <ng-container *ngIf="selectPackageSonger">

        <app-errors [errors]="validateErr" *ngIf="validateErr"></app-errors>

        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-1 mb-1" *ngFor="let sp of selectPackageSonger.packages">
          <div class="content pl-4 pr-4" id="event-details">
            <div class="row ml-0 mr-0 mt-4">
              <div class="bg-box-shadow w-100 span-left p-3">

                <p class="mt-3">{{ sp.package_name }}</p>
                <p class="span-right mb-0 pb-0">
                </p>
                <button type="button" class="btn btn-success" (click)="showNumbersFunc(sp)" translate>Choice
                  &nbsp;<i class="fas fa-chevron-left"></i></button>

              </div>
            </div>


          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>

<div class="main_container" *ngIf="showNumbers">
  <div class="container-fluid event-container">
    <div class="row justify-content-center mt-5 mb-5">
      <ng-container *ngIf="showNumbers">
        <div class="col-lg-10 col-md-10 col-sm-12 col-12 mt-1 mb-1">
          <div class="content pl-4 pr-4" id="event-details">
            <div class="row ml-0 mr-0 mt-4">
              <div class="bg-box-shadow w-100 span-left p-3">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12 pr-3 pl-3 text-center justify-content-center mt-3">
                    <div class="form-group position-relative">
                      <select class="form-control evento_input evento_select" name="sellist" (change)="onChangeNumOfMale($event.target.value)">
                        <option value="" translate>Male Count</option>
                        <option value="1" translate>1</option>
                        <option value="2" translate>2</option>
                        <option value="3" translate>3</option>
                        <option value="4" translate>4</option>
                        <option value="5" translate>5</option>
                        <option value="6" translate>6</option>
                        <option value="7" translate>7</option>
                        <option value="8" translate>8</option>
                        <option value="9" translate>9</option>
                        <option value="10" translate>10</option>
                      </select>
                      <i class="fas fa-chevron-down embed"></i>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12 pr-3 pl-3 text-center justify-content-center mt-3">
                    <div class="form-group position-relative">
                      <select class="form-control evento_input evento_select" name="sellist" (change)="onChangeNumOfFemale($event.target.value)">
                        <option value="" translate>Fmale Count</option>
                        <option value="1" translate>1</option>
                        <option value="2" translate>2</option>
                        <option value="3" translate>3</option>
                        <option value="4" translate>4</option>
                        <option value="5" translate>5</option>
                        <option value="6" translate>6</option>
                        <option value="7" translate>7</option>
                        <option value="8" translate>8</option>
                        <option value="9" translate>9</option>
                        <option value="10" translate>10</option>

                      </select>
                      <i class="fas fa-chevron-down embed"></i>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12 pr-3 pl-3 text-center justify-content-center mt-3">
                    <div class="form-group position-relative">
                      <select class="form-control evento_input evento_select" name="sellist" (change)="onChangeNumOfChildren($event.target.value)">
                        <option value="" translate>Children Count</option>
                        <option value="1" translate>1</option>
                        <option value="2" translate>2</option>
                        <option value="3" translate>3</option>
                        <option value="4" translate>4</option>
                        <option value="5" translate>5</option>
                        <option value="6" translate>6</option>
                        <option value="7" translate>7</option>
                        <option value="8" translate>8</option>
                        <option value="9" translate>9</option>
                        <option value="10" translate>10</option>

                      </select>
                      <i class="fas fa-chevron-down embed"></i>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12 pr-3 pl-3 text-center justify-content-center mt-3">
                    <div class="form-group position-relative">
                      <select class="form-control evento_input evento_select" name="sellist" (change)="onChangeGender($event.target.value)">
                        <option value="" translate>Gender</option>
                        <option value="1" translate>Male</option>
                        <option value="2" translate>Female</option>

                      </select>
                      <i class="fas fa-chevron-down embed"></i>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12 pr-3 pl-3 text-center justify-content-center mt-3">
                    <div class="form-group position-relative">
                      <div class="form-group position-relative">
                        <my-date-picker placeholder="{{ 'Date of birth' | translate }}" [options]="myDatePickerOptions"
                          (dateChanged)="onChangeDate($event)"></my-date-picker>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row ml-0 mr-0 mt-4">
                    <p *ngIf="birthday && maleCount && famleCount && childCount && audienceGender && !totalStatus" style="color: red;"> عدد التذاكر المطلوبه اكثر من المتبقي</p>
                    <button type="button" class="btn btn-success" (click)="showNumbersFunc(sp)" [disabled]="!birthday || !maleCount || !famleCount || !childCount || !audienceGender || !totalStatus" 
                    translate>Next
                        &nbsp;<i class="fas fa-chevron-left"></i></button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>