<div class="main_container">
  <div class="container-fluid detail-container">
    <!--<div class="row">-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12 text-center">-->
        <!--<h4 class="grey-color">Home/Events</h4>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row ">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center justify-content-center eventdetail">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-start pb-5 mb-5">
          <div class="col-lg-8 col-md-12 col-sm-12 col-12 text_left justify-content-start pl-3 pr-3">
            <div class="col-lg-12 col-sm-12 col-12 event">
              <div class="custom_tab mt-2">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs small justify-content-end" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active bg-danger position-relative" data-toggle="tab" href="#education">EDUCATION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link bg-warning position-relative" data-toggle="tab" href="#culture">CULTURE</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="content" id="education">
                    <div class="tab_img_content">
                      <img src="assets/dx34459.png" alt=""/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 text_left justify-content-start pl-3 pr-3 mt-5">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2 text_left justify-content-start pr-3">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center justify-content-center bg-light">
                <h4>13</h4>
                <p><b>Dec</b></p>
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10 text_left justify-content-start">
              <h4>FM EXPO SAUDI- Facilities <br> Management Solutions</h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-start mt-3">
              <p><b>50SAR - 250 SAR</b></p>
              <button type="button" class="btn btn-success btn-sm mt-1">View Tickets</button>
              <p class="mt-3">Event will start in</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-start mt-1">
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center justify-content-center">
                <p class="grey-color">Days</p>
                <h1>&nbsp;02</h1>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center justify-content-center">
                <p class="grey-color">Hrs</p>
                <h1>:12</h1>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center justify-content-center">
                <p class="grey-color">Mins</p>
                <h1>:40</h1>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center justify-content-center">
                <p class="grey-color">Secs</p>
                <h1>:60</h1>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-start mt-1">
              <button type="button" class="btn btn-danger pd-49">APPLY NOW AS A ORGANIZER &nbsp;<i class="fas fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-start">
          <div class="col-lg-8 col-md-12 col-sm-12 col-12 text_left justify-content-start pl-3 pr-3">
            <div class="col-lg-12 col-sm-12 col-12 underline mb-3">
              <h5>DESCRIPTION</h5>
            </div>
            <p class="grey-color mt-3 mb-3">ABOUT FM EXPO SAUDI</p>
            <p class="grey-color">Saudi Arabia Vision 2030 aims to trnasform the country's economy through diversification of economy by investing and promoting non-oil based sectors Under Saudi Vision 2030.sectors such as real estate<br><br> tourism and retail are expected to witness a major boost. Facilities management services would support these sectors by ensuring their smooth operational performance</p>

            <p>As such, Saudi Arabia's facilities management market is estimated to reach USD49.82 billon by the end of 2030<br><br> FM EXPO Saudi is the country's only exhibition and congress dedicated to the facilities management industry</p>
            <b class="mt-3 mb-3">SPONSORS</b>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-start">
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 pl-3 pr-3 text-center justify-content-center">
                <img class="img-fluid" src="assets/Logo1.png" alt=""/>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 pl-3 pr-3 text-center justify-content-center">
                <img class="img-fluid" src="assets/Logo3.png" alt=""/>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 pl-3 pr-3 text-center justify-content-center">
                <img class="img-fluid" src="assets/Logo2.png" alt=""/>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 pl-3 pr-3 text-center justify-content-center">
                <img class="img-fluid" src="assets/Logo1.png" alt=""/>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 underline mt-5 mb-3">
              <h5>LOCATION</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text_left justify-content-start">
              <p class="mb-5"><i class="fas fa-map-marker-alt text-danger"></i> Riyadh International Convention & Exhibition Centre (RICEC).Riyadh, Saudi Arabia</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-right justify-content-end">
              <button type="button" class="btn btn-success btn-sm mt-1">NAVIGATE</button>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left mb-5 justify-content-start">
              <img class="img-fluid" src="assets/map.png" alt=""/>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start mt-5 mb-3">
              <h5>SHARE THIS EVENTON</h5>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start share mb-5">
              <i class="fab fa-youtube"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-snapchat-ghost"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-whatsapp"></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 text_left justify-content-start pl-3 pr-3">
            <div class="col-lg-12 col-sm-12 col-12 underline mb-3">
              <h5>TIME AND DATE</h5>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start mt-3 mb-5">
              <div class="col-lg-1 col-sm-1 col-2 text_left justify-content-start">
                <i class="far fa-calendar-alt text-warning" style="font-size: 24px;"></i>
              </div>
              <div class="col-lg-11 col-sm-11 col-10 text_left justify-content-start">
                <p>Mon. 28 Jan 2019-16:00-22:00</p>
                <p>Tues. 29 Jan 2019-16:00-22:00</p>
                <p>Wed. 30 Jan 2019-16:00-22:00</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 underline mb-3">
              <h5>RULES</h5>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start mb-5">
              <ul style="list-style-type: disc;">
                <li>Admission is free</li>
                <li>For trade and industry professionals</li>
                <li>Visitors under age 18 will not be permitted</li>
              </ul>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 underline mb-3">
              <h5>Tickets</h5>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start ticket hasborder mb-3">
              <h6><b>BASIC GENERAL TICKETS</b></h6>
              <p class="text-danger"><b>50 SAR</b></p>
              <p class="grey-color" style="font-size: 10px;">This Ticket Includes Admission W/Unlimited Food & Drink This Ticket</p>
              <div class="col-lg-12 col-sm-12 col-12 text-center justify-content-center">
                <span class="text-center">SHOW MORE<br><i class="fas fa-chevron-down"></i></span>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start ticket mb-3">
              <h6><b>PLATINUM GENERAL TICKETS</b></h6>
              <p class="text-danger"><b>150 SAR</b></p>
              <p class="grey-color" style="font-size: 10px;">This Ticket Includes Admission W/Unlimited Food & Drink This Ticket</p>
              <div class="col-lg-12 col-sm-12 col-12 text-center justify-content-center">
                <span class="text-center">SHOW MORE<br><i class="fas fa-chevron-down"></i></span>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start ticket mb-3">
              <h6><b>GOLDEM GENERAL TICKETS</b></h6>
              <p class="text-danger"><b>250 SAR</b></p>
              <p class="grey-color" style="font-size: 10px;">This Ticket Includes Admission W/Unlimited Food & Drink This Ticket</p>
              <div class="col-lg-12 col-sm-12 col-12 text-center justify-content-center">
                <span class="text-center">SHOW MORE<br><i class="fas fa-chevron-down"></i></span>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start">
              <div class="col-lg-8 col-sm-8 col-12 d-flex text_left justify-content-start">
                <p class="grey-color mr-2 d-flex align-items-center">QTY:</p>
                <div class="form-group position-relative">
                  <select class="form-control evento_input evento_select min-70" name="sellist">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option selected>4</option>
                  </select>
                  <i class="fas fa-chevron-down embed"></i>
                </div>
                <p class="grey-color ml-2 d-flex align-items-center">PRICE:200 SAR</p>
              </div>
              <div class="col-lg-4 col-sm-4 col-12 text-right justify-content-end">
                <button type="button" class="btn btn-danger pd-40">Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
