<div class="loading" *ngIf="show">Loading&#8230;</div>

<div class="header">
  <div class="container_header d-flex">
    <div class="logo" (click)="goHome();">
      <img *ngIf="direction == 'rtl'" src="assets/LogoAR.png" />
      <img *ngIf="direction == 'ltr'" src="assets/LogoEN.png" />
    </div>
    <div class="menu menu_item">
      <ul class="d-flex">
        <a class="menu-link" [routerLink]="['/home']"><li translate>Home</li></a>
        <a class="menu-link" [routerLink]="['/about-us']" ><li translate>About US</li></a>
        <a class="menu-link" [routerLink]="['/contact-us']" ><li translate>Contact US</li></a>
        <!--<a class="menu-link" [routerLink]="['/calendar']" ><li translate>Calendar</li></a>-->
        <!--<a class="menu-link" [routerLink]="['/organize']" ><li translate>Organize</li></a>-->
      </ul>
    </div>
    <div class="header_right menu_item ">
      <ul class="d-flex" *ngIf="!isAuthenticated" style="float: left;">
        <li class="position-relative user-list" >
          <a [routerLink]="['/auth/login']" class="login-btn" translate><i class="far fa-user" aria-hidden="true"></i>&nbsp; Login</a>
        </li>
        <li class="position-relative nav_toggle">
          <i class="fas fa-bars" (click)="onMenuView($event)"></i>
          <i class="fas fa-times" (click)="onMenuHide($event)" style="display: none;"></i>
        </li>

      </ul>
      <ul class="d-flex" *ngIf="isAuthenticated">
        <li class="position-relative user-list">
          <i class="far fa-user"></i>&nbsp; {{ username }} &nbsp;<i class="fas fa-chevron-down"></i>
          <div class="user">
            <a [routerLink]="['/my-profile']"><p translate><i class="far fa-user"></i>&nbsp; My account</p></a>
            <a [routerLink]="['/organizer']" *ngIf="userType === 2"><p translate><i class="fas fa-box"></i>&nbsp; My dashboard</p></a>
            <!--<a href=""><p translate><i class="fas fa-sliders-h"></i>&nbsp; Settings</p></a>-->
            <!--<a href=""><p translate><i class="far fa-question-circle"></i>&nbsp; Help</p></a>-->
            <a href="" (click)="logout()"><p translate><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</p></a>
          </div>
        </li>
        <!--<li class="position-relative notification-list">-->
          <!--<i class="far fa-bell position-relative"><span class="badge bg-danger">2</span></i>&nbsp;&nbsp;<i class="fas fa-chevron-down"></i>-->
          <!--<div class="notification mr--20">-->
            <!--<a href=""><p><i class="fas fa-dollar-sign"></i>&nbsp; <span>Your payment was successful completed</span></p></a>-->
            <!--<a href=""><p><i class="far fa-credit-card"></i>&nbsp; <span>Your order <span class="text-danger">#89792 </span> is processing. Thanks for buying!</span></p></a>-->
            <!--<a href=""><p><i class="fas fa-phone"></i>&nbsp; <span>Your phone number was successfully completed</span></p></a>-->
            <!--<a href=""><p><i class="far fa-envelope"></i>&nbsp; <span>Your E-mail is now confirmed!</span></p></a>-->
            <!--<a href=""><p><i class="fas fa-dollar-sign"></i>&nbsp; <span>Your payment was successful completed</span></p></a>-->
          <!--</div>-->
        <!--</li>-->
        <li class="position-relative nav_toggle">
          <i class="fas fa-bars" (click)="onMenuView($event)"></i>
          <i class="fas fa-times" (click)="onMenuHide($event)" style="display: none;"></i>
        </li>
      </ul>
    </div>
    <div class="setting bg-dark">
      <i class="fas fa-cog d-flex" style="color: white; font-size: 32px;">
        <!-- <a href="login" class="btn btn-info btn-sm ml-1 mr-1">English</a>
        <a href="login-rtl" class="btn btn-warning btn-sm ml-1 mr-1">Arabic</a> -->
        <div class="btn-group pl-1 pr-1 ml-1 mr-1 btn-group-sm">
          <button type="button" class="btn btn-primary" (click)="onLtrStyle($event)">English</button>
          <button type="button" class="btn btn-warning" (click)="onRtlStyle($event)">العربية</button>
        </div>
      </i>
    </div>
  </div>
</div>
<div class="menu_toggle">
  <a [routerLink]="['/home']" (click)="onMenuHide($event)">
    <div class="d-flex">
      <p class="mr-auto" translate>Home</p>
    </div>
  </a>
  <a [routerLink]="['/about-us']" (click)="onMenuHide($event)">
    <div class="d-flex">
      <p class="mr-auto" translate>About US</p>
    </div>
  </a>
  <a [routerLink]="['/contact-us']" (click)="onMenuHide($event)">
    <div class="d-flex">
      <p class="mr-auto" translate>Contact US</p>
    </div>
  </a>
  <a [routerLink]="['/calendar']" (click)="onMenuHide($event)">
    <div class="d-flex">
      <p class="mr-auto" translate>Calendar</p>
    </div>
  </a>
  <a [routerLink]="['/organize']" (click)="onMenuHide($event)">
    <div class="d-flex">
      <p class="mr-auto" translate>Organize</p>
    </div>
  </a>
</div>

<router-outlet></router-outlet>

<div class="footer container-fluid">
  <div class="footer_top pl-4 pr-4">
    <div class="container_footer">
      <div class="row">
        <div class="col-lg-8 col-sm-8 col-12">
          <p class="text_label" translate>Subscribe be in touch with the latest event</p>
          <div class="form-group d-flex">
            <input type="text" class="form-control evento_input mr-4" placeholder="{{ 'Your Email' | translate }}" style="min-width: 130px;">
            <input type="button" class="btn btn-danger md-49 pd-49" value="{{ 'SUBSCRIBE' | translate }}">
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-12">
          <div class="form-group">
            <div class="social_icons">
              <p class="text_label text-center" translate>Follow us on</p>
              <div class="text-center">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-snapchat-ghost"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_content p-4">
    <div class="container_footer">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-12 pt-1">
          <p class="text_label" translate>Site Map</p>
          <p class="text_label" translate>About Evento</p>
          <p class="text_label" translate>Contact US</p>
        </div>
        <div class="col-lg-4 col-sm-4 col-12  pt-1">
          <p class="text_label" translate>Q&A</p>
          <p class="text_label" translate>Privacy Policy</p>
          <p class="text_label" translate>Terms & Conditions</p>
        </div>
        <div class="col-lg-4 col-sm-4 col-12  pt-1">
          <p class="text_label" translate>Pay Safelyusing</p>
          <div style=" font-size: 26px;">
            <i class="fab fa-cc-visa mr-3"></i>
            <i class="fab fa-cc-mastercard mr-3"></i>
            <i class="fas fa-university mr-3"></i>
            <i class="fas fa-credit-card mr-3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom text-center p-3 text-uppercase font-weight-bold" style="font-size: 14px" translate>
    Copyright
  </div>
</div>
