<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-6">
    <div class="col-lg-10 col-md-12 col-sm-12 col-12 mt-2">
        <div class="tab-event-content">
            <div class="content" id="event-details">
                <form [formGroup]="form" (ngSubmit)="updateEvent(form);">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4 pl-5 pr-5">
                        <p class="event-edit"><b translate>Upload Event Image</b></p>
                        <div class="event-edit form-group grey-color">
                            <label class="fileContainer">
                                {{ 'Click here to trigger the file uploader' | translate }}
                                <input type="file" (change)="fileEvent($event)" name="imageUpload" id="imageUpload"/>
                            </label>
                        </div>

                        <p class="event-edit notice-color text-sm mt-2" translate>Minimum size 1100 Px * 1100 Px</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12 span-left pl-5 pr-5 mb-3">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>Event name</b></p>
                                <div class="event-edit form-group grey-color">
                                    <input type="text" class="form-control evento_input" placeholder=""
                                           formControlName="name">
                                    <div class="error"
                                         *ngIf="form.controls['name'].hasError('required') && !form.controls['name'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                    <div class="error"
                                         *ngIf="form.controls['name'].hasError('minlength') && !form.controls['name'].pristine"
                                         translate>
                                        Field should be at least 3 characters
                                    </div>
                                    <div class="error"
                                         *ngIf="form.controls['name'].hasError('maxlength') && !form.controls['name'].pristine"
                                         translate>
                                        Field should be at most 40 characters
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>Event Category</b></p>
                                <div class="event-edit form-group position-relative grey-color">
                                    <select class="form-control evento_input evento_select"
                                            name=""
                                            formControlName="type_id">
                                        <option value="" translate>Choose Event Type</option>
                                        <ng-container *ngIf="eventTypeList">
                                            <option *ngFor="let type of eventTypeList.data" [value]="type.id">{{
                                                type.name }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <i class="fas fa-chevron-down embed"></i>
                                    <div class="error"
                                         *ngIf="form.controls['type_id'].hasError('required') && !form.controls['type_id'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>District</b></p>
                                <div class="event-edit form-group position-relative grey-color">
                                    <select class="form-control evento_input evento_select"
                                            name=""
                                            (change)="onChangeRegion($event.target.value)"
                                            formControlName="region">
                                        <option value="" translate>Choose Region</option>
                                        <ng-container *ngIf="regionList">
                                            <option *ngFor="let region of regionList.data"
                                                    [value]="region.region_id">
                                                {{ region.name }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <i class="fas fa-chevron-down embed"></i>
                                    <div class="error"
                                         *ngIf="form.controls['region'].hasError('required') && !form.controls['region'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>City</b></p>
                                <div class="event-edit form-group position-relative grey-color">
                                    <select class="form-control evento_input evento_select" name=""
                                            formControlName="city_id">
                                        <option value="" translate>Choose City</option>
                                        <ng-container *ngIf="cityList">
                                            <option *ngFor="let city of updatedCityList" [value]="city.id">
                                                {{ city.name }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <i class="fas fa-chevron-down embed"></i>
                                    <div class="error"
                                         *ngIf="form.controls['city_id'].hasError('required') && !form.controls['city_id'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>Event Description</b>
                                </p>
                                <div class="event-edit form-group w-100 grey-color">
                                    <textarea rows="4" cols="50" class="form-control evento_input"
                                              formControlName="details"
                                              placeholder=""></textarea>
                                    <div class="error"
                                         *ngIf="form.controls['details'].hasError('required') && !form.controls['details'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                    <div class="error"
                                         *ngIf="form.controls['details'].hasError('minlength') && !form.controls['details'].pristine"
                                         translate>
                                        Field should be at least 10 characters
                                    </div>
                                    <div class="error"
                                         *ngIf="form.controls['details'].hasError('maxlength') && !form.controls['details'].pristine"
                                         translate>
                                        Field should be at most 1000 characters
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>Event Address</b></p>
                                <div class="event-edit form-group grey-color">
                                    <input type="text"
                                           class="event-edit form-control evento_input"
                                           formControlName="address"
                                           placeholder="">
                                    <div class="error"
                                         *ngIf="form.controls['address'].hasError('required') && !form.controls['address'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                    <div class="error"
                                         *ngIf="form.controls['address'].hasError('minlength') && !form.controls['address'].pristine"
                                         translate>
                                        Field should be at least 3 characters
                                    </div>
                                    <div class="error"
                                         *ngIf="form.controls['address'].hasError('maxlength') && !form.controls['address'].pristine"
                                         translate>
                                        Field should be at most 1000 characters
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12 border-left-right span-left pl-5 pr-5">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>Maximum Number Of Audience</b></p>
                                <div class="event-edit form-group grey-color">
                                    <input type="number" class="form-control evento_input" placeholder=""
                                           formControlName="maximum_capacity">
                                    <div class="error"
                                         *ngIf="form.controls['maximum_capacity'].hasError('required') && !form.controls['maximum_capacity'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                    <div class="error"
                                         *ngIf="form.controls['maximum_capacity'].hasError('min') && !form.controls['maximum_capacity'].pristine"
                                         translate>
                                        Field should be at least 1
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>Minimum Age</b></p>
                                <div class="event-edit form-group grey-color">
                                    <input type="text" class="form-control evento_input" placeholder=""
                                           formControlName="minimum_age">
                                    <div class="error"
                                         *ngIf="form.controls['minimum_age'].hasError('required') && !form.controls['minimum_age'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                    <div class="error"
                                         *ngIf="form.controls['minimum_age'].hasError('min') && !form.controls['minimum_age'].pristine"
                                         translate>
                                        Field should be at least Zero
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p class="event-edit"><b translate>Targeted Audience</b>
                                </p>
                                <div class="event-edit form-group position-relative grey-color">
                                    <select class="form-control evento_input evento_select" name=""
                                            formControlName="audience_gender">
                                        <option value="" translate>Choose Audience</option>
                                        <ng-container *ngIf="audiencesList">
                                            <option *ngFor="let audience of audiencesList.data"
                                                    [value]="audience.audience_id">
                                                {{ audience.name }}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <i class="fas fa-chevron-down embed"></i>
                                    <div class="error"
                                         *ngIf="form.controls['audience_gender'].hasError('required') && !form.controls['audience_gender'].pristine"
                                         translate>
                                        This field is required
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                <p class="event-edit"><b translate>Event Starts Date</b></p>
                                <div class="form-group w-100 d-block">
                                    <div class="event-edit form-group position-relative grey-color">
                                        <my-date-picker [options]="myDatePickerOptions"
                                                        formControlName="from_date"
                                                        class="data-evento"></my-date-picker>
                                        <div class="error"
                                             *ngIf="form.controls['from_date'].hasError('required') && !form.controls['from_date'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                <div class="form-group w-100 d-flex">
                                    <div class="w-50">
                                        <p class="event-edit"><b translate>Event Starts Time</b></p>
                                        <input type="text" class="event-edit form-control evento_input w-50"
                                               placeholder="00:00" formControlName="from_time"
                                               style="width: 100% !important">

                                        <div class="error"
                                             *ngIf="form.controls['from_time'].hasError('required') && !form.controls['from_time'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['from_time'].hasError('pattern') && !form.controls['from_time'].pristine"
                                             translate>
                                            Time pattern invalid
                                        </div>
                                    </div>
                                    <div class="event-edit form position-relative w-25 pl-1 pr-1">
                                        <p class="event-edit"> &nbsp;</p>
                                        <input type="radio" class="" value="am" formControlName="from_time_type">
                                        <button class="btn btn-outline-dark mr-1 ml-1"
                                                style="width: 100% !important;" translate>Am
                                        </button>
                                    </div>
                                    <div class="event-edit form position-relative w-25 pr-1">
                                        <p class="event-edit"> &nbsp;</p>
                                        <input type="radio" class="" value="pm" formControlName="from_time_type">
                                        <button class="btn btn-outline-dark mr-1 " style="width: 100% !important;"
                                                translate>Pm
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                <p class="event-edit"><b translate>Event Ends Date</b></p>
                                <div class="form-group w-100 d-block">
                                    <div class="event-edit form-group position-relative grey-color">
                                        <my-date-picker [options]="myDatePickerOptions"
                                                        formControlName="end_date"
                                                        class="data-evento"></my-date-picker>
                                        <div class="error"
                                             *ngIf="form.controls['end_date'].hasError('required') && !form.controls['end_date'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.hasError('dateError') && form.dirty"
                                             translate>
                                            End date should be more than or equal From date
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                <div class="form-group w-100 d-flex">
                                    <div class="w-50">
                                        <p class="event-edit"><b translate>Event Ends Time</b></p>
                                        <input type="text" class="event-edit form-control evento_input  w-50"
                                               placeholder="00:00" formControlName="end_time"
                                               style="width: 100% !important">
                                        <div class="error"
                                             *ngIf="form.controls['end_time'].hasError('required') && !form.controls['end_time'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['end_time'].hasError('pattern') && !form.controls['end_time'].pristine"
                                             translate>
                                            Time pattern invalid
                                        </div>
                                        <div class="error"
                                             *ngIf="form.hasError('timeError') && form.dirty"
                                             translate>
                                            End time should be more than start time
                                        </div>

                                    </div>
                                    <div class="event-edit form position-relative w-25 pl-1 pr-1">
                                        <p class="event-edit"> &nbsp;</p>
                                        <input type="radio" class="form-check-input" value="am"
                                               formControlName="end_time_type">
                                        <button class="btn btn-outline-dark mr-1 ml-1"
                                                style="width: 100% !important;" translate>Am
                                        </button>

                                    </div>
                                    <div class="event-edit form position-relative w-25 pr-1">
                                        <p class="event-edit"> &nbsp;</p>
                                        <input type="radio" class="form-check-input" value="pm"
                                               formControlName="end_time_type">
                                        <button class="btn btn-outline-dark mr-1 ml-1"
                                                style="width: 100% !important;" translate>Pm
                                        </button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5 d-flex  pl-5 pr-5"
                         style="display: grid !important;">
                        <p class="event-edit"><b translate>Event Location on Map</b></p>
                        <agm-map [latitude]="lat"
                                 [longitude]="lng"
                                 (mapClick)="placeMarker($event)"
                                 [zoom]="14">
                            <agm-marker [latitude]="lat"
                                        [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5 d-flex justify-content-end pl-5 pr-5">
                        <button type="button"
                                class="event-edit btn btn-dark pr-5 pl-5 ml-2 mr-2"
                                (click)="changeEdit();"
                                translate>
                            Cancel
                        </button>
                        <button type="submit"
                                class="event-edit btn btn-danger pr-5 pl-5 ml-2 mr-2"
                                translate>
                            SAVE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

