<div class="col-lg-10 col-md-10 col-sm-10 col-12 text-center justify-content-center steps-setting float-not-left span-left">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-10 col-12 text_left justify-content-end underline float-not-left">
      <p translate>Your Info</p>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-12 text-center justify-content-end mt-3 float-not-left">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex text-center justify-content-start pd-0">
        <div class="form-group">
          <input type="text" class="form-control evento_input" placeholder="{{ 'First Name' | translate }}">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex text-center justify-content-start pd-0">
        <div class="form-group">
          <input type="text" class="form-control evento_input" placeholder="{{ 'Last Name' | translate }}">
        </div>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-12 text-center justify-content-end float-not-left">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex text-center justify-content-start pd-0">
        <div class="form-group">
          <input type="text" class="form-control evento_input" placeholder="{{ 'Email' | translate }}">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex text-center justify-content-start pd-0">
        <div class="form-group">
          <input type="text" class="form-control evento_input" placeholder="{{ 'Phone Number' | translate }}">
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center justify-content-center mt-55">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center justify-content-end">
        <div class="col-lg-10 col-md-10 col-sm-10 col-12 text_left justify-content-end underline float-not-left">
          <p translate>Visitor Info</p>
        </div>
      </div>
      <br/>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12 text_left d-flex align-items-center justify-content-start mt-3">
        <p>{{ 'Ticket' | translate }} 1</p>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-12 text-center justify-content-center mt-3">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex text-center justify-content-start pd-0">
          <div class="form-group">
            <input type="text" class="form-control evento_input" placeholder="{{ 'First Name' | translate }}">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex text-center justify-content-start pd-0">
          <div class="form-group">
            <input type="text" class="form-control evento_input" placeholder="{{ 'Last Name' | translate }}">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex text-center justify-content-end mt-71">
      <div class="col-lg-8 col-md-8 col-sm-8 col-12 d-flex text-center justify-content-center">
        <div class="form-group text-center">
          <button type="button" class="btn btn-dark pd-60 md-15" (click)="onButtonBack()" translate>Back</button>
          <button type="button" class="btn btn-success md-15" (click)="onButtonNext()" translate>Next Step &nbsp;<i class="fas fa-chevron-left"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>