<div class="signup_content text-center">

    <h5 class="mb-4" translate>Join us as member</h5>


    <form [formGroup]="signupForm" (ngSubmit)="onRegisterButton(signupForm)">

        <input formControlName="first_name" type="input" class="form-control evento_input"
               placeholder="{{ 'First Name' | translate}}"
        />
        <div class="error"
             *ngIf="signupForm.controls['first_name'].hasError('required') && !signupForm.controls['first_name'].pristine"
             translate>This field is required
        </div>
        <div class="error"
             *ngIf="signupForm.controls['first_name'].hasError('minlength') && !signupForm.controls['first_name'].pristine"
             translate>First name most have more than 3 letters
        </div>
        <div class="error"
             *ngIf="signupForm.controls['first_name'].hasError('maxlength') && !signupForm.controls['first_name'].pristine"
             translate>
            First name most have less than 40 letters
        </div>

        <input formControlName="last_name" type="input" class="form-control evento_input mt-3"
               placeholder="{{ 'Last Name' | translate}}"/>
        <div class="error"
             *ngIf="signupForm.controls['last_name'].hasError('required') && !signupForm.controls['last_name'].pristine"
             translate>This field is required
        </div>
        <div class="error"
             *ngIf="signupForm.controls['last_name'].hasError('minlength') && !signupForm.controls['last_name'].pristine"
             translate>Last name most have more than 3 letters
        </div>
        <div class="error"
             *ngIf="signupForm.controls['last_name'].hasError('maxlength') && !signupForm.controls['last_name'].pristine"
             translate>Last name most have less than 40 letters
        </div>

        <div class="form-group d-flex  mt-3 gender-items">
            <label class="form-label mr-2 mb-0 align-items-center" translate>Gender</label>
            <div class="form position-relative">
                <input formControlName="gender" value="1" type="radio" class="form-check-input" name="gender" checked>
                <button class="btn signup_select_btn width_100 mr-1 ml-1" translate>Male</button>
            </div>
            <div class="form position-relative">
                <input formControlName="gender" value="2" type="radio" class="form-check-input" name="gender">
                <button class="btn signup_select_btn width_100 mr-1 ml-1" translate>Female</button>
            </div>
        </div>
        <div class="error"
             *ngIf="signupForm.controls['gender'].hasError('required') && !signupForm.controls['gender'].pristine"
             translate>This field is required
        </div>


        <input formControlName="email" type="input" class="form-control evento_input  mt-3"
               placeholder="{{ 'Email Address' | translate}}"/>
        <div class="error"
             *ngIf="signupForm.controls['email'].hasError('required') && !signupForm.controls['email'].pristine"
             translate>This field is required
        </div>
        <div class="error"
             *ngIf="signupForm.controls['email'].hasError('email') && !signupForm.controls['email'].pristine" translate>
            Email format is not valid
        </div>

        <input formControlName="mobile" maxlength="10" type="input" class="form-control evento_input  mt-3"
               placeholder="{{ 'Phone Number' | translate}}"
        />
        <div class="error"
             *ngIf="signupForm.controls['mobile'].hasError('required') && !signupForm.controls['mobile'].pristine"
             translate>This field is required
        </div>
        <div class="error"
             *ngIf="signupForm.controls['mobile'].hasError('minlength') && !signupForm.controls['mobile'].pristine"
             translate>Mobile number most have 10 numbers
        </div>
        <div class="error"
             *ngIf="signupForm.controls['mobile'].hasError('maxLength') && !signupForm.controls['mobile'].pristine"
             translate>Mobile number most have 10 numbers
        </div>

        <input formControlName="password" type="password" class="form-control evento_input  mt-3"
               placeholder="{{ 'Password' | translate}}"/>
        <div class="error"
             *ngIf="signupForm.controls['password'].hasError('required') && !signupForm.controls['password'].pristine"
             translate>This field is required
        </div>
        <div class="error"
             *ngIf="signupForm.controls['password'].hasError('minlength') && !signupForm.controls['password'].pristine"
             translate>Password most have more than 6 characters
        </div>

        <input formControlName="confirm_password" type="password" class="form-control evento_input  mt-3"
               placeholder="{{ 'Confirm Password' | translate}}"
        />
        <div class="error"
             *ngIf="signupForm.controls['confirm_password'].hasError('required') && !signupForm.controls['confirm_password'].pristine"
             translate>This field is required
        </div>
        <div class="error"
             *ngIf="signupForm.controls['confirm_password'].hasError('minlength') && !signupForm.controls['confirm_password'].pristine"
             translate> Password most have more than 6 characters
        </div>
        <div class="error"
             *ngIf="signupForm.controls['password'].value !== signupForm.controls['confirm_password'].value" translate>
            Password doesn't match
        </div>

        <div class="form-group  mt-3">
            <input formControlName="agreementChecked" type="checkbox" class="form-check-input" value=""/>
            <label class="form-check-label text_left position-relative">
                <span class="title" translate>I agree to the Terms and Conditions </span>
            </label>
        </div>

        <re-captcha #captchaRef formControlName="recaptcha"></re-captcha>


        <input (click)="onCancelButton()" type="button" class="btn width_120 signup_btn mt-3 mr-2 ml-2"
               value="{{ 'Back' | translate }}"
        />
        <input type="submit" class="btn btn-danger width_120 mt-3 mr-2 ml-2"
               value="{{ 'Join' | translate }}"
               [disabled]="!signupForm.valid"/>
    </form>
</div>