<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5" *ngIf="eventDetails">
    <div *ngIf="!showUpdate" class="col-lg-10 col-md-12 col-sm-12 col-12 mt-2">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs justify-content-start underline" role="tablist">
            <li class="nav-item">
                <a class="nav-link active bg-danger position-relative pt-1 pb-1" data-toggle="tab"
                   [routerLink]="['/details']" translate>Event Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-dark position-relative pt-1 pb-1" data-toggle="tab" href="#event-settings"
                   translate>Event Setting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-dark position-relative pt-1 pb-1" data-toggle="tab"
                   href="#event-termsandconditions" translate>Event Terms And Conditions</a>
            </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-event-content">
            <div class="content" id="event-details">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4 pl-5 pr-5">
                    <img class="event-view img-fluid rounded-2" [src]="eventDetails.img" alt=""/>
                    <input type="file" class="form-control-file d-none">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 span-left pl-5 pr-5 mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>Event name</p>
                            <p class="event-view grey-color">{{ eventDetails.name }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>Event Category</p>
                            <p class="event-view grey-color">{{ eventDetails.type }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>City</p>
                            <p class="event-view grey-color">{{ eventDetails.city }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>District</p>
                            <p class="event-view grey-color">{{ eventDetails.region_name }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>Event Description</p>
                            <p class="event-view grey-color">{{ eventDetails.details }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>Event Address</p>
                            <p class="event-view grey-color">{{ eventDetails.address }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 border-left-right span-left pl-5 pr-5">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>Maximum Number Of Audience</p>
                            <p class="event-view grey-color">{{ eventDetails.maximum_capacity }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>Minimum Age</p>
                            <p class="event-view grey-color">{{ eventDetails.minimum_age }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>Targeted Audience</p>
                            <p class="event-view grey-color">{{ eventDetails.audience_gender }}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                            <p class="event-view" translate>Event Starts</p>
                            <p class="event-view grey-color">{{ eventDetails.from_date | eventoDate }} -{{
                                eventDetails.from_time | eventoTime }}</p>
                            <div class="form-group w-100 d-flex">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="event-view" translate>Event Ends</p>
                            <p class="event-view grey-color">{{ eventDetails.end_date | eventoDate}} -{{
                                eventDetails.end_time | eventoTime }}</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5 d-flex" style="display: grid !important;">
                        <agm-map [latitude]="eventDetails.lat" [longitude]="eventDetails.lng"
                                 [zoom]="14">
                            <agm-marker [latitude]="eventDetails.lat"
                                        [longitude]="eventDetails.lng"></agm-marker>
                        </agm-map>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5 d-flex justify-content-center">
                        <button type="button" (click)="changeEdit()" class="event-view btn btn-dark pr-5 pl-5"
                                translate>EDIT
                        </button>
                    </div>
                </div>
                <div class="content" id="event-settings">
                </div>
                <div class="content" id="event-termsandconditions">
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="showUpdate" class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
        <div class="col-lg-10 col-md-12 col-sm-12 col-12 mt-2">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs justify-content-start underline" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active bg-danger position-relative pt-1 pb-1" data-toggle="tab"
                       [routerLink]="['/details']" translate>Event Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark position-relative pt-1 pb-1" data-toggle="tab" href="#event-settings"
                       translate>Event Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark position-relative pt-1 pb-1" data-toggle="tab"
                       href="#event-termsandconditions" translate>Event Terms And Conditions</a>
                </li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-event-content">
                <div class="content" id="event-details">
                    <form *ngIf="eventDetails" [formGroup]="form" (ngSubmit)="updateEvent(form);">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4 pl-5 pr-5">
                            <p class="event-edit" translate>Upload Event Image</p>
                            <input type="file" class="form-control-file d-none" (change)="fileEvent($event)"
                                   name="imageUpload" id="imageUpload">
                            <div class="d-flex align-items-center">
                                <button type="button"
                                        class="event-edit event-image btn btn-outline-dark grey-color pl-3 pr-3"
                                        translate>
                                    Choose file
                                </button>
                                <p class="event-edit ml-2 mr-2 mb-0 grey-color">Example.jpg</p>
                            </div>
                            <p class="event-edit notice-color text-sm mt-2" translate>Minimum size 1100 Px * 1100 Px</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 span-left pl-5 pr-5 mb-3">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit"><b translate>Event name</b><span class="text-danger">*</span></p>
                                    <div class="event-edit form-group grey-color">
                                        <input type="text" class="form-control evento_input" placeholder=""
                                               formControlName="name">
                                        <div class="error"
                                             *ngIf="form.controls['name'].hasError('required') && !form.controls['name'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['name'].hasError('minlength') && !form.controls['name'].pristine"
                                             translate>
                                            Field should be at least 3 characters
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['name'].hasError('maxlength') && !form.controls['name'].pristine"
                                             translate>
                                            Field should be at most 40 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>Event Category</p>
                                    <div class="event-edit form-group position-relative grey-color">
                                        <select class="form-control evento_input evento_select"
                                                name=""
                                                formControlName="type_id">
                                            <option value="" translate>Choose Event Type</option>
                                            <ng-container *ngIf="eventTypeList">
                                                <option *ngFor="let type of eventTypeList.data" [value]="type.id">{{
                                                    type.name }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <i class="fas fa-chevron-down embed"></i>
                                        <div class="error"
                                             *ngIf="form.controls['type_id'].hasError('required') && !form.controls['type_id'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>District</p>
                                    <div class="event-edit form-group position-relative grey-color">
                                        <select class="form-control evento_input evento_select"
                                                name=""
                                                (change)="onChangeRegion($event.target.value)"
                                                formControlName="region_id">
                                            <option value="" translate>Choose Region</option>
                                            <ng-container *ngIf="regionList">
                                                <option *ngFor="let region of regionList.data"
                                                        [value]="region.region_id">
                                                    {{ region.name }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <i class="fas fa-chevron-down embed"></i>
                                        <div class="error"
                                             *ngIf="form.controls['region_id'].hasError('required') && !form.controls['region_id'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>City</p>
                                    <div class="event-edit form-group position-relative grey-color">
                                        <select class="form-control evento_input evento_select" name=""
                                                formControlName="city_id">
                                            <option value="" translate>Choose City</option>
                                            <ng-container *ngIf="cityList">
                                                <option *ngFor="let city of updatedCityList" [value]="city.id">
                                                    {{ city.name }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <i class="fas fa-chevron-down embed"></i>
                                        <div class="error"
                                             *ngIf="form.controls['city_id'].hasError('required') && !form.controls['city_id'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>Event Address<span class="text-danger">*</span></p>
                                    <div class="event-edit form-group grey-color">
                                        <input type="text"
                                               class="event-edit form-control evento_input"
                                               formControlName="address"
                                               placeholder="">
                                        <div class="error"
                                             *ngIf="form.controls['address'].hasError('required') && !form.controls['address'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['address'].hasError('minlength') && !form.controls['address'].pristine"
                                             translate>
                                            Field should be at least 3 characters
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['address'].hasError('maxlength') && !form.controls['address'].pristine"
                                             translate>
                                            Field should be at most 1000 characters
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>Event Description<span class="text-danger">*</span>
                                    </p>
                                    <div class="event-edit form-group w-100 grey-color">
                                    <textarea rows="4" cols="50" class="form-control evento_input"
                                              formControlName="details"
                                              placeholder=""></textarea>
                                        <div class="error"
                                             *ngIf="form.controls['details'].hasError('required') && !form.controls['details'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['details'].hasError('minlength') && !form.controls['details'].pristine"
                                             translate>
                                            Field should be at least 10 characters
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['details'].hasError('maxlength') && !form.controls['details'].pristine"
                                             translate>
                                            Field should be at most 1000 characters
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 border-left-right span-left pl-5 pr-5">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>Maximum Number Of Audience<span
                                            class="text-danger">*</span></p>
                                    <div class="event-edit form-group grey-color">
                                        <input type="number" class="form-control evento_input" placeholder=""
                                               formControlName="max_capacity">
                                        <div class="error"
                                             *ngIf="form.controls['max_capacity'].hasError('required') && !form.controls['max_capacity'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['max_capacity'].hasError('min') && !form.controls['max_capacity'].pristine"
                                             translate>
                                            Field should be at least 1
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>Minimum Age<span class="text-danger">*</span></p>
                                    <div class="event-edit form-group grey-color">
                                        <input type="text" class="form-control evento_input" placeholder=""
                                               formControlName="min_age">
                                        <div class="error"
                                             *ngIf="form.controls['min_age'].hasError('required') && !form.controls['min_age'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['min_age'].hasError('min') && !form.controls['min_age'].pristine"
                                             translate>
                                            Field should be at least Zero
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>Targeted Audience<span class="text-danger">*</span>
                                    </p>
                                    <div class="event-edit form-group position-relative grey-color">
                                        <select class="form-control evento_input evento_select" name=""
                                                formControlName="audiance_id">
                                            <option value="" translate>Choose Audience</option>
                                            <ng-container *ngIf="audiencesList">
                                                <option *ngFor="let audience of audiencesList.data"
                                                        [value]="audience.audience_id">
                                                    {{ audience.name }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <i class="fas fa-chevron-down embed"></i>
                                        <div class="error"
                                             *ngIf="form.controls['audiance_id'].hasError('required') && !form.controls['audiance_id'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                    <p class="event-edit" translate>Event Starts<span class="text-danger">*</span></p>
                                    <div class="form-group w-100 d-block">
                                        <div class="event-edit form-group position-relative grey-color">
                                            <my-date-picker [options]="myDatePickerOptions"
                                                            formControlName="from_date"
                                                            class="data-evento"></my-date-picker>
                                            <div class="error"
                                                 *ngIf="form.controls['from_date'].hasError('required') && !form.controls['from_date'].pristine"
                                                 translate>
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                    <div class="form-group w-100 d-flex">
                                        <input type="text" class="event-edit form-control evento_input w-50"
                                               placeholder="00:00" formControlName="from_time">

                                        <div class="error"
                                             *ngIf="form.controls['from_time'].hasError('required') && !form.controls['from_time'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['from_time'].hasError('pattern') && !form.controls['from_time'].pristine"
                                             translate>
                                            Field should be at least 10 characters
                                        </div>
                                        <div class="event-edit form position-relative w-25 pl-1 pr-1">
                                            <input type="radio" class="" value="am" formControlName="from_time_type">
                                            <button class="btn btn-outline-dark mr-1 ml-1" style="width: 100% !important;" translate>Am</button>
                                        </div>
                                        <div class="event-edit form position-relative w-25 pr-1">
                                            <input type="radio" class="" value="pm" formControlName="from_time_type">
                                            <button class="btn btn-outline-dark mr-1 " style="width: 100% !important;" translate>Pm</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p class="event-edit" translate>Event Ends<span class="text-danger">*</span></p>
                                    <div class="form-group w-100 d-flex">
                                        <div class="event-edit form-group position-relative grey-color w-50">
                                            <my-date-picker [options]="myDatePickerOptions"
                                                            formControlName="end_date"
                                                            class="data-evento"></my-date-picker>
                                            <div class="error"
                                                 *ngIf="form.controls['end_date'].hasError('required') && !form.controls['end_date'].pristine"
                                                 translate>
                                                This field is required
                                            </div>
                                        </div>
                                        <input type="text" class="event-edit form-control evento_input ml-2 mr-2 w-25"
                                               placeholder="00:00" formControlName="end_time">
                                        <div class="error"
                                             *ngIf="form.controls['end_time'].hasError('required') && !form.controls['end_time'].pristine"
                                             translate>
                                            This field is required
                                        </div>
                                        <div class="error"
                                             *ngIf="form.controls['end_time'].hasError('pattern') && !form.controls['end_time'].pristine"
                                             translate>
                                            Field should be at least 10 characters
                                        </div>
                                        <div class="event-edit form position-relative">
                                            <input type="radio" class="form-check-input" value="am"
                                                   formControlName="end_time_type">
                                            <button class="btn btn-outline-dark mr-1 ml-1" translate>Am</button>
                                        </div>
                                        <div class="event-edit form position-relative">
                                            <input type="radio" class="form-check-input" value="pm"
                                                   formControlName="end_time_type">
                                            <button class="btn btn-outline-dark mr-1 ml-1" translate>Pm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5 d-flex justify-content-center">
                            <button type="button"
                                    class="event-edit btn btn-dark pr-5 pl-5 ml-2 mr-2"
                                    (click)="changeEdit();"
                                    translate>
                                Cancel
                            </button>
                            <button type="button"
                                    class="event-edit btn btn-danger pr-5 pl-5 ml-2 mr-2"
                                    translate>
                                SAVE
                            </button>
                        </div>
                    </form>
                </div>
                <div class="content" id="event-settings">
                </div>
                <div class="content" id="event-termsandconditions">
                </div>
            </div>
        </div>
    </div>

</div>