<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3 d-flex flex-wrap bg-box-shadow border">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap underline ticket-main-info">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
      <img class="img-fluid border-radius-left" src="assets/dx34459.png" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-6 p-3">
      <p class="mb-1">GOLDEN CLASS TICKETS</p>
      <P class="text-danger mb-1">50 {{ 'SR' | translate }}</P>
      <div class="d-flex ticket-main-summary">
        <p class="grey-color mb-0">{{ 'QTY' | translate }}: </p>
        <button type="button" class="btn btn-outline-dark btn-sm ml-2 mr-2 pl-4 pr-4 pt-1 pb-1 h-sm">4</button>
        <p class="grey-color mb-0">{{ 'Price' | translate }}: </p>
        <button type="button" class="btn btn-outline-dark btn-sm ml-2 mr-2 pl-2 pr-2 pt-1 pb-1 h-sm">200 {{ 'SR' | translate }}</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3 p-3">
      <p class="text-success span-right">Delivered</p>
      <button type="button" class="show-more btn btn-danger btn-sm pt-1 pb-1 pl-3 pr-3 mt-3 span-right" translate>SHOW MORE</button>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-3 d-flex flex-wrap active ticket-more-detail">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 underline">
      <p>Order Info</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
      <p class="mb-0"><span class="grey-color">Ticket: </span> Golden Class</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
      <p class="mb-0"><span class="grey-color">QTY: </span> 2</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
      <p class="mb-0"><span class="grey-color">Date: </span> 2 December 2019</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
      <p class="mb-0"><span class="grey-color">First Name: </span> Salm</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
      <p class="mb-0"><span class="grey-color">Last Name: </span> Omarany</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
      <p class="mb-0"><span class="grey-color">E-mail: </span> SalmOmarany@Gmail.com</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
      <p class="mb-0"><span class="grey-color">Phone Number: </span> 0998392841</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 underline mt-4">
      <p>Ticket Info</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap mt-3 bg-light">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-1">
        <p class="mb-0">Ticket 1</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-1">
        <p class="mb-0"><span class="grey-color">First Name: </span> Noor</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-1">
        <p class="mb-0"><span class="grey-color">Last Name: </span> Omarany</p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-12 mt-1 d-flex justify-content-end">
        <button type="button" class="show-more-item btn btn-outline-dark btn-arrow-sm mb-0"><i class="fas fa-chevron-down"></i></button>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap ticket-item-detail">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-3">
          <p class="mb-0"><small>TICKET BARCODE</small></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
          <img class="img-fluid" src="assets/barcode.png" alt="">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-3">
          <button type="button" class="btn btn-outline-dark span-right">DOWNLOAD INVOICE</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap mt-3 bg-light">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-1">
        <p class="mb-0">Ticket 1</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-1">
        <p class="mb-0"><span class="grey-color">First Name: </span> Sarah</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-1">
        <p class="mb-0"><span class="grey-color">Last Name: </span> Omarany</p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-12 mt-1 d-flex justify-content-end">
        <button type="button" class="show-more-item btn btn-outline-dark btn-arrow-sm mb-0"><i class="fas fa-chevron-up"></i></button>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap active ticket-item-detail">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-3">
          <p class="mb-0"><small>TICKET BARCODE</small></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
          <img class="img-fluid" src="assets/barcode.png" alt="">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-3">
          <button type="button" class="btn btn-outline-dark span-right">DOWNLOAD INVOICE</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-end">
      <button type="button" class="show-less btn btn-danger btn-sm pt-1 pb-1 pl-3 pr-3 mt-1 span-right">SHOW LESS</button>
    </div>
  </div>
</div>