<div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex text-center justify-content-center">
  <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex text-left justify-content-start">
    <p class="mb-0 mt-0 d-flex align-items-center"><i class="fas fa-sliders-h ml-3 mr-3"></i>Filters</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex text-center justify-content-center">
    <button type="button" class="btn ml-2">Reset</button>
    <button type="button" class="btn btn-danger ml-2">Apply</button>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex text-center justify-content-center">
  <div class="search-accodian">
    <ul>
      <li>
        <input type="checkbox" class="filter-items">
        <i></i>
        <h2>Search by event catagory</h2>
        <div class="filter-content text_left justify-content-start">
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" checked> Art & Design
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Entertainment
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Religious
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" checked>Technology
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Education
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Music
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Culture
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Politics
          </label>
          </div>
          <a href="">
            <p class="grey-color" style="font-size:14px;">View More...</p>
          </a>
        </div>
      </li>
      <li>
        <input type="checkbox" class="filter-items">
        <i></i>
        <h2>Search by date</h2>
        <div class="filter-content small-calendar">
          <p style="font-size: 14px;">You can select multiple days</p>
          <!-- <img class="img-fluid" src="assets/multi_select_calendar.png" alt=""/> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-between">
            <p class="fas fa-chevron-left mb-0 d-flex align-items-center"></p>
            <button type="button" class="btn btn-dark btn-sm">Dec 2018</button>
            <p class="fas fa-chevron-right mb-0 d-flex align-items-center"></p>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex underline">
            <span class="text-center flex-fill">Sun</span>
            <span class="text-center flex-fill">Mon</span>
            <span class="text-center flex-fill">Tue</span>
            <span class="text-center flex-fill">Wed</span>
            <span class="text-center flex-fill">Thu</span>
            <span class="text-center flex-fill">Fri</span>
            <span class="text-center flex-fill">Sat</span>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 date">
            <div class="d-flex">
              <span class="text-center flex-fill last">29</span>
              <span class="text-center flex-fill last">30</span>
              <span class="text-center flex-fill">1</span>
              <span class="text-center flex-fill">2</span>
              <span class="text-center flex-fill">3</span>
              <span class="text-center flex-fill">4</span>
              <span class="text-center flex-fill">5</span>
            </div>
            <div class="d-flex">
              <span class="text-center flex-fill">6</span>
              <span class="text-center flex-fill">7</span>
              <span class="text-center flex-fill">8</span>
              <span class="text-center flex-fill">9</span>
              <span class="text-center flex-fill">10</span>
              <span class="text-center flex-fill">11</span>
              <span class="text-center flex-fill">12</span>
            </div>
            <div class="d-flex">
              <span class="text-center flex-fill">13</span>
              <span class="text-center flex-fill">14</span>
              <span class="text-center flex-fill selected">15</span>
              <span class="text-center flex-fill selected">16</span>
              <span class="text-center flex-fill selected">17</span>
              <span class="text-center flex-fill">18</span>
              <span class="text-center flex-fill">19</span>
            </div>
            <div class="d-flex">
              <span class="text-center flex-fill">20</span>
              <span class="text-center flex-fill">21</span>
              <span class="text-center flex-fill">22</span>
              <span class="text-center flex-fill">23</span>
              <span class="text-center flex-fill">24</span>
              <span class="text-center flex-fill">25</span>
              <span class="text-center flex-fill">26</span>
            </div>
            <div class="d-flex">
              <span class="text-center flex-fill">27</span>
              <span class="text-center flex-fill">28</span>
              <span class="text-center flex-fill">29</span>
              <span class="text-center flex-fill">30</span>
              <span class="text-center flex-fill">30</span>
              <span class="text-center flex-fill last">1</span>
              <span class="text-center flex-fill last">2</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" class="filter-items" checked>
        <i></i>
        <h2>Search by city</h2>
        <div class="filter-content text_left justify-content-start">
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" checked> Abha
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> Ad-Dilam
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> Al-Abwa
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" checked> Al Artaweeiyah
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> Badr
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> Dammam
          </label>
          </div>
          <a href="">
            <p class="grey-color" style="font-size:14px;">View More...</p>
          </a>
        </div>
      </li>
      <li>
        <input type="checkbox" class="filter-items" checked>
        <i></i>
        <h2>Search by age</h2>
        <div class="filter-content text_left justify-content-start">
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" checked> 1
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> 2
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> 3
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" checked> 4
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> 5
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> 6
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> 7
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> 8
          </label>
          </div>
          <a href="">
            <p class="grey-color" style="font-size:14px;">View More...</p>
          </a>
        </div>
      </li>
      <li>
        <input type="checkbox" class="filter-items" checked>
        <i></i>
        <h2>Search by gender</h2>
        <div class="filter-content text_left justify-content-start">
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" checked> Male
          </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value=""> Female
          </label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>