<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
  <div class="col-lg-10 col-md-12 col-sm-12 col-12 mt-2">
    <div class="tab-event-content">
      <div class="content pl-4 pr-4" id="event-details">

        <div class="row ml-0 mr-0 mt-5">
          <h4 class="add-condition" translate>Add Interview Questions</h4>
        </div>

        <ng-container *ngIf="questions && !showCreateForm && !showUpdateForm && !showDeleteForm">
          <div class="row ml-0 mr-0 mt-4" *ngFor="let question of questions.data">
            <div class="bg-box-shadow w-75 span-left p-3">
              <p>{{ question.question }}</p>
              <p class="span-right mb-0 pb-0">
                <a (click)="showDelete(question)">
                  <i class="far fa-trash-alt text-danger pl-3" ></i>
                </a>
                <a (click)="showUpdate(question)">
                  <i class="fas fa-pencil-alt grey-color"></i>
                </a>
              </p>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
            <div class="mt-5 d-flex justify-content-start">
              <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <hr>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="form-group w-100 d-flex justify-content-center">
                  <button type="button" class="btn btn-dark btn-add-sm" (click)="showCreate();"><i class="fas fa-plus"></i></button>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <hr>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
            <div class="mob-w-75 text-center justify-content-center pagenation mt-5">
              <div class="col-lg-12 col-sm-12 col-12 text-center d-flex justify-content-center">
                <button type="button" class="btn btn-number btn-sm btn-outline-dark ml-1 mr-1">1</button>
                <button type="button" class="btn btn-number btn-sm ml-1 mr-1">2</button>
                <button type="button" class="btn btn-number btn-sm ml-1 mr-1">3</button>
                <button type="button" class="btn btn-number btn-sm ml-1 mr-1">4</button>
              </div>
              <div class="col-lg-12 col-sm-12 col-12 text-center d-flex justify-content-center mt-4 mb-5">
                <button type="button" class="btn btn-outline-dark btn-sm btn-create pd-40 mr-1 ml-1 position-relative" translate>
                  <i class="fas fa-chevron-right"></i>&nbsp;
                  Previous
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm btn-create pd-60 mr-1 ml-1 position-relative" translate>
                  Next
                  &nbsp;<i class="fas fa-chevron-left"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="showCreateForm">
          <form action="" [formGroup]="formCreate" (ngSubmit)="createQuestion(formCreate);">
            <div class="col-lg-12 col-md-12 col-sm-12  d-flex flex-wrap">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-3 pr-3 mt-2">
                                <textarea rows="4" cols="50" class="form-control evento_input"
                                          formControlName="question"
                                          placeholder=""></textarea>
                <div class="error"
                     *ngIf="formCreate.controls['question'].hasError('required') && !formCreate.controls['question'].pristine"
                     translate>
                  This field is required
                </div>
                <div class="error"
                     *ngIf="formCreate.controls['question'].hasError('minlength') && !formCreate.controls['question'].pristine"
                     translate>
                  Field should be at least 3 characters
                </div>
                <div class="error"
                     *ngIf="formCreate.controls['question'].hasError('maxlength') && !formCreate.controls['question'].pristine"
                     translate>
                  Field should be at most 200 characters
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap justify-content-end">
              <button type="button" class="btn btn-dark pl-4 pr-4 mt-3 ml-2 mr-2" (click)="showCreate();" translate>
                Cancel
              </button>
              <button type="submit"
                      class="btn btn-danger pl-5 pr-5 mt-3 ml-2 mr-2"
                      [disabled]="formCreate.invalid"
                      translate>SAVE
              </button>
            </div>
          </form>
        </ng-container>

        <ng-container *ngIf="showUpdateForm">
          <form action="" [formGroup]="formUpdate" (ngSubmit)="updateQuestion(formUpdate);">
            <div class="col-lg-12 col-md-12 col-sm-12  d-flex flex-wrap">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-3 pr-3 mt-2">
                                <textarea rows="4" cols="50" class="form-control evento_input"
                                          formControlName="question"
                                          placeholder=""></textarea>
                <div class="error"
                     *ngIf="formUpdate.controls['question'].hasError('required') && !formUpdate.controls['question'].pristine"
                     translate>
                  This field is required
                </div>
                <div class="error"
                     *ngIf="formUpdate.controls['question'].hasError('minlength') && !formUpdate.controls['question'].pristine"
                     translate>
                  Field should be at least 3 characters
                </div>
                <div class="error"
                     *ngIf="formUpdate.controls['question'].hasError('maxlength') && !formUpdate.controls['question'].pristine"
                     translate>
                  Field should be at most 200 characters
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap justify-content-end">
              <button type="button" class="btn btn-dark pl-4 pr-4 mt-3 ml-2 mr-2" (click)="showUpdate();" translate>
                Cancel
              </button>
              <button type="submit"
                      class="btn btn-danger pl-5 pr-5 mt-3 ml-2 mr-2"
                      [disabled]="formUpdate.invalid"
                      translate>SAVE
              </button>
            </div>
          </form>
        </ng-container>

        <ng-container *ngIf="showDeleteForm">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-3 pr-3 mt-2">
              <p class="title" translate>Are you sure to delete :</p>
              <p class="details"> {{ selectedQuestion.question }}</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap justify-content-end">
              <button type="submit" class="btn btn-info pl-5 pr-5 mt-3 ml-2 mr-2" (click)="showDelete();" translate>NO
              </button>
              <button type="submit" class="btn btn-danger pl-5 pr-5 mt-3 ml-2 mr-2" (click)="deleteQuestion();"
                      translate>YES
              </button>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>