<div class="main_container mb-5 pt-5">
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="terms">

          <h2 class="title mb-3" translate>Terms & Conditions</h2>

          <p>
            منصة إيفنتو عبارة عن منصة إلكترونية تعمل كمقدم خدمات لشركات تنظيم الفعاليات, لذا فإن موافقتك على هذه الشروط تمثل انضمامك
            لفريق إيفنتو . الرجاء قراءة هذه الشروط جيداً قبل التسجيل بمنصة إيفنتو , و تطبق شروط الاستخدام هذه على كل مستخدمين
            الخدمة، ومن ضمنها بدون حصرالأفراد ومنظمين الفعاليات وأي كيان يستطيع استعمال منصة إيفنتو , وهم بذلك يصبحوا ملزمين
            قانوناً بها في استخدام منصة إيفنتو (Evento) بجميع خدماتها ومميزاتها و محتواها.

          </p>

          <h4 class="mt-5 mb-3 underline">التعهدات والضمانات : </h4>

          <ul>
            <li>الإمتثال لكافة القوانين واللوائح المعمول بها في المملكة العربية السعودية.
            </li>
            <li>استخدام خدمات إيفنتو لأغراض مشروعة فقط، وألا تستخدم الخدمات لإتلاف ، او إيذاء ، او مضايقة أو التعدي على خصوصية
              أو ممتلكات الآخرين أو أي غرض غير قانوني.
            </li>
            <li>عدم المحاولة لإلحاق الضرر بالخدمة أو التطبيق بأي شكل من الأشكال.
            </li>
            <li>المحافظة على كلمة المرور لحسابك أو أي وسيلة تعريف نقدمها لك وتتيح الدخول إلى حسابك، بشكلٍ آمن وسري.
            </li>
            <li>إذا استخدمت هذا الموقع ، أنت مسؤول عن الحفاظ على سرية حسابك وكلمة السر وتقييد الدخول إلى حسابك في إيفنتو, وتوافق
              على تحمل مسؤولية كل النشاطات الظاهرة تحت حسابك. لا يجب عليك استخدام حساب آخر بدون إذن مسبق من صاحب الحساب الآخر
              وفي هذه الحالة عليك تبليغ إيفنتو على الفور عن أي استخدامات غير مفوضة لحسابك أو أي اختراقات لحسابات أخرى أنت
              على علم بها.
            </li>
            <li>لإيفنتو الحق والحرية المطلقة في رفض تقديم الخدمة وإيقاف الحساب الشخصي لأي مستخدم دون إبداء أي سبب.
            </li>
          </ul>


          <h4 class="mt-5 mb-3 underline">حقوق النشر والعلامات التجارية :
          </h4>
          <ul>
            <li>محتويات الموقع من نصوص , شعارات , صور , بيانات , علامات تجارية وجميع البرمجيات المستخدمة في إيفنتو هو ملكية فكرية
              محمية لإيفنتو او المبرمجين او التابعين او محتوينها , لذلك لا يحق لك التصرف بأي من هذه العناصر, ولا تنسخ او
              توزع المحتويات والمعلومات بدون اذن من إيفنتو .
            </li>
            <li>تُعفى إيفنتو والتابعين لها من أي مسؤولية او ادعاءات بإنتهاك لحقوق النشر او العلامات التجارية او ملكيات فكرية
              اخرى .
            </li>
          </ul>


          <h4 class="mt-5 mb-3 underline">القواعد والسلوك :
          </h4>
          <ul>
            <li>تتيح منصة إيفنتو عمل سيرة ذاتية للأفراد يقوم من خلالها بالبحث عن الفعاليات والانضمام لها كمنظم .
            </li>
            <li>لإيفنتو الحرية المطلقة بالإطلاع و مشاركة أي بيانات يتم ادخالها بالموقع من افراد او شركات تنظيم , مع اطراف اخرى
              لأغراض تسويقية او ترويجية .
            </li>
            <li>تتيح منصة إيفنتو لشركات تنظيم الفعاليات امكانية اضافة او عرضها , ايضًا امكانية اضافة شروط خاصة بالفعالية .
            </li>

            <li>تتيح المنصة لشركات الفعاليات خصوصيتهم في قبول طلبات المنظمين والاطلاع عليها, وعمل مقابلات لهم , ايضًا امكانية
              اضافة مشرفين و موظفي مبيعات بالفعالية .
            </li>
            <li>يعد قبولك بهذه الشروط وسياسة الاستخدام موافقة مبدئية وسيتم التواصل مع الشركة من قبل إيفنتو لتوقيع العقد و الاتفاق
              عليه .
            </li>
            <li>يتم اضافة كل فعالية برسوم تحددها إيفنتو مع شركة التنظيم عند توقيع العقد .
            </li>
            <li>يكون احتساب نسبة التذاكر من ايفنتو عند توقيع العقد .
            </li>
            <li>عندما يقوم المنظم برفع معلومات الفعالية على الموقع كل المعلومات حول الفعالية يجب أن تكون موصوفة بشكل دقيق وصحيح
              , إذا قررت إيفنتو بأن المنظم نشر معلومات غير صحيحة ودقيقة (معلومات مظللة بالكامل) عن الفعالية ، فيكون لإيفنتو
              الحق وحرية التصرف المطلقة بحذف المعلومات المظللة.
            </li>
            <li>لإيفنتو الحق بإزالة أي محتوى خاص بالمستخدم من الموقع في أي وقت ولأي سبب، (متضمناً وليس حصراً على استلام ادعاءات
              مصدقة من طرف ثالث أو سلطات حكومية حول مخالفة أو تحريف يخص محتوى المستخدم) أو بدون سبب. بالاضافة إلى أنك توافق
              على أن تستخدم إيفنتو اسمك وشعارك (سواء كان متاح بالموقع أو لا) لغرض تعريفك كمستخدم حال أو سابق لإيفنتو وذلك
              في الموقع والمواد التسويقية والترويجية.
            </li>
          </ul>



          <h4 class="mt-5 mb-3 underline">تعديل شروط الاستخدام :
          </h4>
          <p>يحق لإيفنتو تحديث او تعديل شروط وسياسة الاستخدام متى ما دعت الحاجة لذلك , إما بوضع إشعار في الموقع أو بإرسال تنبيه
            من خلال الخدمة أو البريد الإلكتروني, لذا فإن من مسؤوليتك مراجعة المعلومات المنشورة بالموقع بشكل مستمر , واستمرارك
            في استعمال منصة إيفنتو بخدماتها يدل على قبولك لسياسة وشروط الاستخدام المعدلة .
          </p>

          <h4 class="mt-5 mb-3 underline">التواصل :
          </h4>
          <p>اذا كان لديكم أي أسئلة بشأن سياسة و شروط الاستخدام يمكنكم التواصل معنا من خلال:
          </p>
          <ul>
            <li>البريد الإلكتروني : info@eventoapps.com
            </li>
            <li>
              تويتر : @eventoapp
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>