<div class="table-row tr-stripe col-lg-12 col-md-12 col-sm-12 col-12  d-flex flex-wrap">
    <div class=" col-lg-4 col-md-4 col-sm-12 col-12">
      <span class="pr-3 d-md-none d-lg-none d-xl-none" translate> Name:</span> {{invoice.first_name}} {{invoice.last_name}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
      <span class="pr-3 d-md-none d-lg-none d-xl-none" translate> Phone Number:</span> {{invoice.mobile }}
    </div>
    <div class="title col-lg-3 col-md-3 col-sm-12 col-12">
      <span class="pr-3 d-md-none d-lg-none d-xl-none" translate> Package:</span> {{invoice.package_name }}
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-12">
      <span class="d-md-none d-lg-none d-xl-none" translate> Price:</span>{{invoice.total_with_vat }}
    </div>
    <div class="text-center col-lg-1 col-md-1 col-sm-12 col-12">
      <button *ngIf="!showInfo" type="button" (click)="onShowInfo(invoice.invoice_id)" class="btn btn-outline-dark btn-arrow-sm "><i class="fas fa-chevron-down"></i></button>
      <button *ngIf="showInfo" type="button" (click)="onShowInfo(invoice.invoice_id)" class="btn btn-outline-dark btn-arrow-sm "><i class="fas fa-chevron-up"></i></button>
    </div>
  </div>
  
  <div *ngIf="showInfo && ticketList" class="table-body col-lg-12 col-md-12 col-sm-12 col-12  d-flex flex-wrap ">
        <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12  d-flex flex-wrap " *ngFor="let ticket of ticketList.data">
            <div class=" col-lg-3 col-md-3 col-sm-12 col-12">
                <span class="pr-3 d-md-none d-lg-none d-xl-none"> {{ 'Visitor Name' | translate }}:</span> {{ ticket.first_name }} {{ ticket.last_name }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <span class="pr-3 d-md-none d-lg-none d-xl-none"> {{ 'Number of tickets paid' | translate }}:</span> {{ ticket.num_ticket }}
            </div>
            <div class="title col-lg-4 col-md-4 col-sm-12 col-12">
                <span class="pr-3 d-md-none d-lg-none d-xl-none"> {{ 'Total Price' | translate }}:</span> {{ ticket.total_with_vat }}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-12">
                <button type="button" class="btn btn-outline-dark btn-sm mt-2 pt-1 pb-1" translate>
                    DOWNLOAD INVOICE
                </button>
            </div>
        </div>
  </div>