<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2">

    <div class="tab-event-content">
      <div class="content pl-4 pr-4" id="event-details">

        <div class="row ml-0 mr-0 mt-5">
          <h4 class="add-condition" translate>Link With GEA</h4>
        </div>


        <div class="row ml-0 mr-0 mt-5 text-center">
          <img src="/assets/gealogo.png" alt="" class="gea-logo">
        </div>


      </div>
    </div>
  </div>
</div>