<div class="table-row tr-stripe col-lg-12 col-md-12 col-sm-12 col-12  d-flex flex-wrap">
    <!-- Start Supervisor Row -->
    <ng-container>
        <!-- Start Supervisor Row -->
        <div class=" col-lg-3 col-md-3 col-sm-12 col-12">
            <span class="d-md-none d-lg-none d-xl-none"> Name:</span> {{ supervisor.first_name }} {{
            supervisor.last_name }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <span class="d-md-none d-lg-none d-xl-none"> Phone Number:</span> {{ supervisor.mobile }}
        </div>
        <div class="title col-lg-4 col-md-4 col-sm-12 col-12">
            <span class="d-md-none d-lg-none d-xl-none"> Email:</span> {{ supervisor.mail }}
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-12">
            <span class="d-md-none d-lg-none d-xl-none"> Status:</span> {{ supervisor.status_name }}
        </div>
        <div class="text-center col-lg-1 col-md-1 col-sm-12 col-12">
            <button *ngIf="!showDetails" type="button" (click)="onShowDetails()"
                    class="btn btn-outline-dark btn-arrow-sm "><i class="fas fa-chevron-down"></i></button>
            <button *ngIf="showDetails || showUpdate" type="button" (click)="close()"
                    class="btn btn-outline-dark btn-arrow-sm "><i class="fas fa-chevron-up"></i></button>
        </div>
    </ng-container>
    <!-- End Supervisor Row -->
</div>

<!-- Start View Supervisor Details -->
<ng-container *ngIf="showDetails && !showUpdate && !showDelete">
    <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5  d-flex flex-wrap mt-5">

        <div class=" col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>First Name</p>
            <p class="event-view grey-color">{{ supervisor.first_name }}</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>Last Name</p>
            <p class="event-view grey-color">{{ supervisor.last_name }}</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>Email</p>
            <p class="event-view grey-color">{{ supervisor.mail }}</p>
        </div>


    </div>

    <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5 d-flex flex-wrap">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>Username</p>
            <p class="event-view grey-color">{{ supervisor.username }}</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>Gender</p>
            <p class="event-view grey-color" *ngIf="supervisor.gender === 1" translate>Male</p>
            <p class="event-view grey-color" *ngIf="supervisor.gender === 2" translate>Female</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>Phone Number</p>
            <p class="event-view grey-color">{{ supervisor.mobile }}</p>
        </div>

    </div>

    <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5 d-flex flex-wrap">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>Status</p>
            <p class="event-view grey-color">{{ supervisor.status_name }}</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>Organizers</p>
            <p class="event-view grey-color" *ngIf="supervisor.requests === 1" translate>Authorized</p>
            <p class="event-view grey-color" *ngIf="supervisor.requests === 2" translate>UnAuthorized</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <p class="event-view" translate>Sales</p>
            <p class="event-view grey-color" *ngIf="supervisor.sellers === 1" translate>Authorized</p>
            <p class="event-view grey-color" *ngIf="supervisor.sellers === 2" translate>UnAuthorized</p>
        </div>
    </div>


    <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5 d-flex flex-wrap mt-3">

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <button type="button" class="btn btn-info pl-4 pr-4 mb-3 mr-2 ml-2" (click)="onUpdateSupervisor();"
                    translate>EDIT
            </button>
            <button type="button" class="btn btn-danger pl-4 pr-4 mb-3 mr-2 ml-2" (click)="onShowDelete();" translate>DELETE</button>
        </div>

    </div>

</ng-container>
<!-- End View Supervisor Details -->

<!-- Start Update Supervisor Details -->
<ng-container *ngIf="showUpdate">
    <form [formGroup]="form" (ngSubmit)="updateSupervisor(form)">
        <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5 d-flex flex-wrap mt-3">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-3 pr-3">
                <p class="event-edit"><b translate>First Name</b></p>
                <div class="event-edit form-group grey-color">
                    <input type="text" class="form-control evento_input" placeholder="" formControlName="first_name">
                    <div class="error"
                         *ngIf="form.controls['first_name'].hasError('required') && !form.controls['first_name'].pristine"
                         translate>
                        This field is required
                    </div>
                    <div class="error"
                         *ngIf="form.controls['first_name'].hasError('minlength') && !form.controls['first_name'].pristine"
                         translate>
                        Field should be at least 3 characters
                    </div>
                    <div class="error"
                         *ngIf="form.controls['first_name'].hasError('maxlength') && !form.controls['first_name'].pristine"
                         translate>
                        Field should be at most 40 characters
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-3 pr-3">
                <p class="event-edit"><b translate>Last Name</b></p>
                <div class="event-edit form-group grey-color">
                    <input type="text" class="form-control evento_input" placeholder="" formControlName="last_name">
                    <div class="error"
                         *ngIf="form.controls['last_name'].hasError('required') && !form.controls['last_name'].pristine"
                         translate>
                        This field is required
                    </div>
                    <div class="error"
                         *ngIf="form.controls['last_name'].hasError('minlength') && !form.controls['last_name'].pristine"
                         translate>
                        Field should be at least 3 characters
                    </div>
                    <div class="error"
                         *ngIf="form.controls['last_name'].hasError('maxlength') && !form.controls['last_name'].pristine"
                         translate>
                        Field should be at most 40 characters
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-3 pr-3">
                <p class="event-edit"><b translate>Status</b></p>
                <div class="event-edit form-group position-relative grey-color">
                    <select class="form-control evento_input evento_select"
                            formControlName="status_id"
                            name="">
                        <option value="" translate>Choose Status</option>
                        <option value="1" translate>Active</option>
                        <option value="3" translate>Blocked</option>
                    </select>
                    <i class="fas fa-chevron-down embed"></i>
                    <div class="error"
                         *ngIf="form.controls['status_id'].hasError('required') && !form.controls['status_id'].pristine"
                         translate>
                        This field is required
                    </div>

                </div>
            </div>
        </div>

        <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5 d-flex flex-wrap mt-3">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-3 pr-3">
                <p class="event-edit"><b translate>Email</b></p>
                <div class="event-edit form-group grey-color">
                    <input type="text" class="form-control evento_input" placeholder="" formControlName="mail">
                    <div class="error"
                         *ngIf="form.controls['mail'].hasError('required') && !form.controls['mail'].pristine"
                         translate>This field is required
                    </div>
                    <div class="error"
                         *ngIf="form.controls['mail'].hasError('email') && !form.controls['mail'].pristine" translate>
                        Email format is not valid
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-3 pr-3">
                <p class="event-edit"><b translate>Gender</b></p>
                <div class="event-edit form-group position-relative grey-color">
                    <select class="form-control evento_input evento_select"
                            formControlName="gender"
                            name="">
                        <option value="" translate>Choose Gender</option>
                        <option value="1" translate>Male</option>
                        <option value="2" translate>Female</option>
                    </select>
                    <i class="fas fa-chevron-down embed"></i>
                    <div class="error"
                         *ngIf="form.controls['gender'].hasError('required') && !form.controls['gender'].pristine"
                         translate>This field is required
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-3 pr-3">
                <p class="event-edit"><b translate>Phone Number</b></p>
                <div class="event-edit form-group grey-color">
                    <input type="text" class="form-control evento_input" placeholder="" formControlName="mobile">
                    <div class="error"
                         *ngIf="form.controls['mobile'].hasError('required') && !form.controls['mobile'].pristine"
                         translate>
                        This field is required
                    </div>
                    <div class="error"
                         *ngIf="form.controls['mobile'].hasError('pattern') && !form.controls['mobile'].pristine"
                         translate>
                        Mobile number is invalid
                    </div>

                </div>
            </div>
        </div>

        <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5 d-flex flex-wrap mt-3">

            <div class="col-lg-6 col-md-3 col-sm-12 col-12 pl-3 pr-3">
                <p class="setting-title mb-0" translate>Organizers</p>
                <p class="setting-description grey-color" translate>This will be authorized a supervisor
                    for managing organizers Interviews and joining requests</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-3 pr-3 mt-1">
                <div class="event-edit form-group position-relative grey-color">
                    <select class="form-control evento_input evento_select"
                            formControlName="requests"
                            name="">
                        <option value="" translate>Choose Permission</option>
                        <option value="1" translate>Authorized</option>
                        <option value="2" translate>UnAuthorized</option>
                    </select>
                    <i class="fas fa-chevron-down embed"></i>
                    <div class="error"
                         *ngIf="form.controls['requests'].hasError('required') && !form.controls['requests'].pristine"
                         translate>This field is required
                    </div>

                </div>
            </div>

        </div>

        <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5 d-flex flex-wrap mt-3">

            <div class="col-lg-6 col-md-3 col-sm-12 col-12 pl-3 pr-3">
                <p class="setting-title mb-0" translate>Sales</p>
                <p class="setting-description grey-color" translate>This will be authorized a supervisor
                    for managing Salesmen and create or delete or updated</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-3 pr-3 mt-1">
                <div class="event-edit form-group position-relative grey-color">
                    <select class="form-control evento_input evento_select"
                            formControlName="sellers"
                            name="">
                        <option value="" translate>Choose Permission</option>
                        <option value="1" translate>Authorized</option>
                        <option value="2" translate>UnAuthorized</option>
                    </select>
                    <i class="fas fa-chevron-down embed"></i>
                    <div class="error"
                         *ngIf="form.controls['sellers'].hasError('required') && !form.controls['sellers'].pristine"
                         translate>This field is required
                    </div>
                </div>
            </div>

        </div>

        <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5 d-flex flex-wrap mt-3">

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <button type="submit" class="btn btn-info pl-4 pr-4 mb-3 mr-2 ml-2"
                        [disabled]="form.invalid"
                        translate>Update
                </button>
                <button type="button" class="btn btn-danger pl-4 pr-4 mb-3 mr-2 ml-2" (click)="onUpdateSupervisor();"
                        translate>Cancel
                </button>
            </div>

        </div>
    </form>
</ng-container>
<!-- End Update Supervisor Details -->

<!-- Start Delete Supervisor -->
<ng-container *ngIf="showDelete">
    <div class="table-body col-lg-12 col-md-12 col-sm-12 col-12 pl-5 pr-5  d-flex flex-wrap mt-5">

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-3 pr-3 mt-2">
                <p class="title" translate>Are you sure to delete :</p>
                <p class="details"> {{ supervisor.first_name }} {{ supervisor.last_name }}</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap justify-content-end">
                <button type="submit" class="btn btn-info pl-5 pr-5 mt-3 ml-2 mr-2" (click)="onShowDelete();" translate>NO</button>
                <button type="submit" class="btn btn-danger pl-5 pr-5 mt-3 ml-2 mr-2" (click)="deleteSupervisor();" translate>YES</button>
            </div>
        </div>

    </div>


</ng-container>
<!-- End Delete Supervisor -->
