<div class="main_container">
    <div class="container-fluid detail-container">
        <!--<div class="row">-->
        <!--<div class="col-lg-4 col-md-4 col-sm-12 text-center">-->
        <!--<h4 class="grey-color">Home/Events</h4>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center justify-content-center eventdetail">
                <ng-container *ngIf="eventDetail">
                    <app-event-header (onSubmitRequest)='submitRequest($event)' [requestError]="errorSubmitRequest" [eventDetails]="eventDetail"></app-event-header>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text_left justify-content-start">
                        <app-event-description [eventDetails]="eventDetail"></app-event-description>

                        <div class="col-lg-4 col-md-12 col-sm-12 col-12 text_left justify-content-start pl-3 pr-3">
                            <div class="col-lg-12 col-sm-12 col-12 underline mb-3">
                                <h5 translate>TIME AND DATE</h5>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start mt-3 mb-5">
                                <div class="col-lg-1 col-sm-1 col-2 text_left justify-content-start">
                                    <i class="far fa-calendar-alt text-warning" style="font-size: 24px;"></i>
                                </div>
                                <div class="col-lg-11 col-sm-11 col-10 text_left justify-content-start">
                                    <p>{{ eventDetail.data.details.from_date | eventoDate }} - {{ eventDetail.data.details.end_date
                                        | eventoDate }}</p>
                                    <p>{{ eventDetail.data.details.from_time | eventoTime }} - {{ eventDetail.data.details.end_time
                                        | eventoTime }}</p>
                                    <p></p>
                                </div>
                            </div>
                            <app-event-roles [policy]="eventDetail.data.policy" *ngIf="eventDetail.data.policy"></app-event-roles>

                            <ng-container *ngIf="eventDetail.data.packages && eventDetail.data.packages.length > 0">
                                    <div class="col-lg-12 col-sm-12 col-12 underline mb-3">
                                            <h5 translate>Tickets</h5>
                                        </div>
            
                                        <app-event-tickets [ticket]="ticket"  *ngFor="let ticket of eventDetail.data.packages"></app-event-tickets>
                                        <div class="col-lg-12 col-sm-12 col-12 text_left justify-content-start">
                                            <div class="col-lg-4 col-sm-4 col-12 text-right justify-content-end">
                                                <button
                                                        type="button"
                                                        class="btn btn-danger pd-40"
                                                        (click)="buyTicket();"
                                                        *ngIf="eventDetail.data.details.ticket_payment == 1"
                                                        translate>Buy Now</button>
                                            </div>
                                        </div>
            
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
